// new styles
.wrapper_main {
  display: flex;
  flex-direction: column;
}

.wrapper_main_content--center {
  position: relative;
  margin: 0 auto;
  margin-top: 10vh;
  max-width: 800px;
  width: 100%;
}

.section_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img--profile-lg {
  @extend .img--profile;
  align-self: center;
  border-radius: 4px;
  background-size: cover;
  margin: $content-margin;
  height: 250px;
  width: 50%;
  position: absolute;
  top: -60px;
  left: 0;

  .image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(249, 249, 249, 1));
  }
}

.about-me {
  z-index: 2;
  padding: 0.5 * $content-margin;
  margin-top: 30%;

  h1 {
    margin-bottom: 30px;
  }
}

.about-me--small {
  display: flex;
  flex-direction: row;
  line-height: 1.2;
  color: $black;

  @media only screen and (max-width: 640px) {
    .img--profile {
      display: none;
    }
  }
}

@media only screen and (min-width: 1080px) {
  .img--profile-lg {
    height: 450px;
    left: -100px;
  }

  .about-me {
    margin-top: 20%;
  }
}
