html {
	position: relative;
	margin: 0;
	padding: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  position: relative;
  font-size: 1.6rem;
	line-height: 1.4;
	font-family: 'Courier New', Courier, monospace;
  padding: 0;
  margin: auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  max-width: $max-content-width;
}

nav {
	position: fixed;
	width: 100%;
	background-color: $white;
	z-index: 3;
  text-align: center;
  max-width: $max-content-width;
  padding-bottom: 16px;

  h2 {
    margin-bottom: 8px;
  }
}

main {
  padding: 200px 16px 0 16px;
  flex-grow: 1;
}

footer {
  align-self: center;
  margin: 16px 8px;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline;

  &.active {
    text-decoration: underline;
    font-weight: bold;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
  color: blue;
}

pre {
	background-color: $black;
	border-radius: 10px;
	color: $muted-black;
	padding: 5px 5px 5px 15px;
	font-size: 1.4rem;
	max-width: 100%;
	overflow: auto;
	border-left: 8px solid $font-color-accent;
	border-right: 2px solid $muted-black;
}

table {
	width: 100%;
	font-size: 1.4rem;
	overflow: auto;
	border-top: 1px solid $muted-black;
	border-bottom: 1px solid $muted-black;

	td {
		text-align: center;
	}

	th {
		border-bottom: 1px solid $muted-black;
	}
}

blockquote {
	position: relative;
	margin-top: 45px;
	margin-bottom: 45px;
}

blockquote::before {
	content: ' ';
	position: absolute;
	left: -40px;
	width: 5px;
	height: 100%;
	background-color: $light-black;
}

article {
  line-height: 1.5;

  a {
    text-decoration: underline;

    &:hover {
      color: $font-color-muted;
    }
  }

  ul {
    padding-left: 32px;
    display: block;
  }

  li {
    list-style-type: decimal;
    display: list-item;
  }
}

small {
  color: $light-black;
}

iframe, video {
  height: 100%;
  width: 100%;
}
