@import url('https://fonts.googleapis.com/css?family=Roboto|Oswald');

html{
	position: relative;

	width: 100%; 
	height: 100%; 

	margin: 0px; 
	padding: 0px;

}

body{
	background-color: $bg-color;

	font-size: 0.8em;
	line-height:  1.5em;

	color: $text-color;
	font-family: Roboto;
}

h1, h2, h3, h4, h5, h6{
	font-family: Oswald;
	color: $heading-color;
	font-weight: 600;

	margin: 0px;
	padding: 0px;
}

h1{
	font-size: 4em;
	line-height: 150%;
}

h2{
	font-size: 3em;
	line-height: 150%; 
}

h3{
	font-size: 2em;
	line-height: 150%; 
}

h4{
	font-size: 1.5em;
	line-height: 150%; 
}

h5{
	font-size: 1em;
	line-height: 150%; 
}

h6{
	font-size: 0.8em;
	line-height: 150%; 
}

.full-width{
	width: 100%;
}

.center{
	text-align: center;
}

.body-wrapper{

	height: auto; 
	width: 70%;

	margin: 30px auto;

	display: flex; 
	flex-direction: row; 
	justify-content: space-between;

	.nav-wrapper{
		width: 200px;
		margin-right: 150px;
	}

	.content-wrapper{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: auto;
		
		.paginate-wrapper{

		}
	}

}

a{
	font-family: Oswald;
	color: $accent-color-muted;

	&:hover{
		text-decoration: none;
		color: $accent-color;
	}
}
