// @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,600|Oswald');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:100,300,400,600');

$heading-font: Montserrat; //Oswald, sans-serif;
$body-font: Raleway; //Roboto, sans-serif;

html{
	position: relative;

	width: 100%; 
	height: 100%; 

	margin: 0px; 
	padding: 0px;

	border-top: 8px solid $accent-color;

}

body{

	width: 100%; 
	background-color: $bg-color;

	margin: 0px; 
	padding: 0px;

	font-size: 12px;
	line-height: 16px;
}


.body-wrapper{


	position: relative;

	width: 60%;
	max-width: 650px;
	height: auto;

	margin: 0 auto;
	padding: 30px 0px 0px 0px;

	display: flex; 
	flex-direction: row; 
	justify-content: start;

	// .main-nav-wrapper{
	// 	width: $side-navigation-width;

	// 	margin: $side-navigation-margin-top 0px $default-spacing $default-spacing;
	// 	padding: 0px;


	// }

	.main-content-wrapper{


		margin: $default-spacing 0px $default-spacing 0px;
		padding: 0px;

		display: flex;
		flex-direction: column;
		flex-grow: 1;

		.segment{
			margin: 25px 0px;
		}

		.header{
			display: flex; 
			flex-direction: row;
			justify-content: space-between;
		}

		.page-title{
			color: $accent-color;
			font-size: 16px;
			font-weight: 600;
			border: 2px solid $text-color;
			border-radius: 4px;
			padding: 4px;

			.mark{
				color: $text-color;
			}
		}

		blockquote{
			font-size: 34px;
			line-height: 44px;
			font-family: $body-font;
			border-left: 3px solid $accent-color;
			font-weight: 100;
			padding: 10px 30px;
			margin: 45px 0 45px -35px;
		}

		.copyright{
			color: $text-color-muted;
			font-weight: 300;
			font-size: 14px;
			line-height: 18px;
			margin: 45px 0px 45px 0px;
		}
	}

}

