.post-wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 0.5 * $content-margin;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.post__title {
    color: $black;
    font-size: 4.8rem;
    line-height: 1.2;
    margin: 0;
}

.post__content {
    h1 {
        font-size: 4rem;
        line-height: 1.2;
        color: $black;
    }
}

.back {
    display: inline-block;
    border: 1px solid $light-black;
    border-radius: 30px;
    margin: $content-margin 0;
    padding: 5px 20px;
}

.blog-post-container {
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background: black;
    }
    margin-top: 45px;
    margin-bottom: 3 * $content-margin;

    .post__header-img {
        width: auto;
        max-height: 300px;
        min-height: 300px;
        margin: 30px 0;
    }

    .blog-post__content h2 {
        color: $black;
        font-size: 1.8rem;
        line-height: 1.2;
        font-weight: 600;
        margin: 0;
        padding: 0;
    }

    .post__marker {
        font-size: 1.6rem;
        color: $light-black;
        text-decoration: underline;
        text-transform: capitalize;
        font-weight: 600;
    }

    .post__meta {
        color: $light-black;
        font-size: 1.4rem;
        margin-top: 10px;

        .highlight {
            color: $black;
        }
    }

    .post__summary {
        font-size: 1.6rem;
        line-height: 1.2;
        margin-top: 30px;
        overflow: hidden;
    }

    .post__content {
        color: black;
        font-size: 1.8rem;
        line-height: 1.2;

        a {
            text-decoration: underline;
        }
    }

    .post__authors {
        padding: 0;
        margin: 0 0 5px 0;
        font-size: 1.4rem;
    }
}

.blog-post-container--link {
    padding: 0;
    margin: 20px 0;

    a, a:hover {
        text-decoration: none;
    }

    .blog-post__content h2 {
        color: $black;
    }

    .post__meta {
        font-size: 1.4rem;
        font-weight: 600;
        color: $light-black;
    }

    .post__summary {
        margin-top: 0px;
        color: $body-font-color;
    }

    .blog-post__content {
        display: flex;
        flex-direction: row;

        .post__image {
            position: relative;
            width: 200px;
            min-width: 200px;
            margin-right: 15px;
            overflow: hidden;

            @media screen and (max-width: 640px) {
                display: none;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                align-self: center;
            }
        }
    }
}

.blog-post-container--link:hover{
    cursor: pointer;

    h2 {
       font-weight: 600;
    }

}
