/*
* @Author: Akshata
* @Date:   2018-06-02 14:10:51
* @Last Modified by:   Akshata
* @Last Modified time: 2018-06-02 14:46:08
*/


.collections--header{
	text-transform: uppercase;
	padding-bottom: 45px;
	margin: 100px 0px 0px 45px;
}

.collections--element{
	margin: 45px 0px;
}

.collections--element__project{

}

.collections--footer{
	margin: 100px 0px 0px 45px;
}

