@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,600');

html, body{
	height: 100%; 

	padding: 0px;
	margin: 0px;

	border: 0px;

	overflow-x: hidden;
	background-color: #f7f7f7;

	font-family: 'Raleway';
	font-size: 12px;
	line-height: 28px;

}


ul.fancy-list{
	font-family: 'Reenie Beanie';
	font-size: 26px;
	line-height: 36px;
	margin-left: 0px;
	padding-left: 0px;

	li{
		list-style: none;
		display: inline-block;

		&::before{	
			content: "#";
		}
	}
}


.calltoaction__link{
	height: 80px;
	min-width: 100px;
	margin: 0 auto;
	font-size: 18px;

	a{
		padding: 15px;
		text-transform: uppercase;
		line-height: 40px;
		//background-color: $highlight-color;
		color: black;
		box-shadow:1px 1px 5px rgba(255, 255, 255, 0.5); 
		border: 1px solid #222;
		border-radius: 6px;

		&:hover{
			//background-color: $highlight-darker;
		}
	}
}

$highlight-color: #015F93;//#d20068;
.text--content{
	font-size: 16px;
	line-height: 24px;
}


.text--highlight{
	color: $highlight-color;
	font-family: 'Reenie Beanie';
}

.text--right{
	text-align: right;
}

.text--handwritten{
	font-family: 'Reenie Beanie';
}