@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:100,300,400,600');

html, body{
	height: 100%; 

	padding: 0px;
	margin: 0px;

	border: 0px;

	overflow-x: hidden;
	background-color: #f7f7f7;

	font-family: 'Raleway';
	font-size: 12px;
	line-height: 28px;

}
