$lighter-bg: #363636;

footer {
    background: #242424;
    height: 600px;
}

.copyright {
    width: 100%; 
    background: $black;
    color: $muted-black; 
    text-align: center;
    padding: 0.3 * $content-margin;

    a {
        color: inherit;
    }
}