header{
	h3{
		margin-bottom: 10px;
		padding-bottom: 0px;
		font-size: 22px;
		line-height: 30px;
		font-weight: 600;
	}

	.social-media-icons{
		.fa{
			font-size: 24px;
			border: 1px solid #ddd;
			border-radius: 50%;
			padding: 10px;
			color: #888;
		}
	}
}