header{

	margin: 60px auto;
	text-align: center;
	min-width: 250px;
	padding: 15px;

	h1, h4{
		font-weight: 600;
		text-transform: uppercase;
	}

	h4{
		color: $font-color-accent;
	}

	p{
		line-height: 150%; 
		font-size: 16px;
		margin: 30px 0px;
	}

	.social-media-icons{
		.fa{
			font-size: 24px;
			border: 3px solid $body-font-color;
			border-radius: 50%;
			padding: 10px;
			margin-right: 15px;
			color: $body-font-color;
		}
	}
}