$highlight-color: #015F93;//#d20068;
$highlight-darker: #720039;

.text--fixed-width{
	width: 300px;
}

.text--content{
	font-size: 16px;
	line-height: 24px;
}


.text--highlight{
	color: $highlight-color;
	font-family: 'Reenie Beanie';
}

.text--right{
	text-align: right;
}

.social-media-icons{
	display: flex;
	flex-direction: row; 

	i{
		font-size: 24px;
		color: black;
		margin-right: 15px;
	}
}

.public-page{
	padding-top: 60px;
}


// .public-page{
// 	height: 100%; 

// 	max-width: unset;

// 	display: flex;
// 	flex-direction: column;
// }

.section__contents{
	//padding: 100px 10%;
	//height: 100%;

	// display: flex;
	// flex-direction: column;

	// margin-bottom: 80px;


	.section__contents__title{
		text-transform: uppercase;
		text-align: center;
		//color: gray;

		margin-bottom: 15px;

		&.title--highlight{
			color: white;
		}

		&.text--right{
			&::after{
				margin-left: calc(100% - 60px);
			}
		}

		// &::after{
		// 	background-color: $highlight-color;
		//     display: block;
		//     content: "";
		//     height: 1px;
		//     margin-top: 15px;
		//     width: 60px;
		// }
	}

	.section__contents__content{

		padding-top: 45px;

		.items{
			// display: flex; 
			// flex-direction: row; 
			// flex-wrap: wrap;

			// justify-content: space-around;

			.items__container-post{
				//height: 150px; 
				min-width: 100px;
				//width: 40%;
				//min-width: 150px;

				.item--post{	
					margin-bottom: 30px;

					border-radius: 5px;

					.item--post--title{
						margin: 15px 20px;
						font-weight: 600;

						&::before{
							content: "## ";
						}
					}

					.item--post--subtitle{
						font-size: 12px;
						line-height: 14px;
						margin: 5px 20px;
					}

					.item--post--date{
						margin: 5px 20px;
						display: none;
					}
				}
			}

			.items__container-project{
				//height: 150px; 
				//width: 25%;
				//min-width: 150px;

				//margin: 0px;
				//padding: 10px;
				padding: 40px;

				.item--project{
					.item--project--title{

					}

					.item--project--description{
						font-size: 12px;
						line-height: 26px;
					}

					.item--project-tags{
						font-family: 'Reenie Beanie';
						font-size: 32px;
						line-height: 36px;

						ul{
							margin-left: 0px;
							padding-left: 0px;

							li{
								list-style: none;
								display: inline-block;

								&::before{	
									content: "#";
								}
							}
						}
					}
				}
				
			}
		}
	}

	.section__contents__calltoaction{

		margin-top: 40px;

		text-align: center;
		height: 100px;

		.calltoaction__link{
			height: 80px;
			min-width: 100px;

			margin: 0 auto;
			
			font-size: 18px;

			a{
				padding: 15px;
				text-transform: uppercase;
				line-height: 40px;
				//background-color: $highlight-color;
				color: black;
				box-shadow:1px 1px 5px rgba(255, 255, 255, 0.5); 
				border: 1px solid #222;
				border-radius: 6px;

				&:hover{
					//background-color: $highlight-darker;
				}
			}


		}

	}
}

.section{
	// position: relative;
	// box-shadow: 3px;

	padding-bottom: 150px;

	&.section--hero{

		img{
			border: 4px solid #015F93; 
			drop-shadow: 3px 3px 3px rgba(0,0,0,0.2);
		}

		// background: linear-gradient(
	 //      rgba(0, 0, 0, 0.65), 
	 //      rgba(0, 0, 0, 0.65)
	 //    ), url('../assets/jumpup.jpg');
		// background-size: cover;
		// background-position: 22% 20%;
		// background-attachment: fixed;
	}

	&.section--highlight{
		background: linear-gradient(
	      rgba(0, 0, 0, 0.7), 
	      rgba(0, 0, 0, 0.7)
	    ), url('../assets/texture-background.jpg');;
	}

	&.section--contact{
		color: white;
	}

	&.section--up{
		margin-top: -150px;
	}

	&.section--angled-down{
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
		clip-path: polygon(9% -2%, -10% 71%, 100% 114%, 100% 14%)
	}

	&.section--angled-up{
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
		clip-path: polygon(0 125%, 100% 56%, 100% 0, 0 0);
	}
}