@import url('https://fonts.googleapis.com/css?Ubuntu:400,600,800');

html {
	position: relative;
	font-size: 10px;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: relative;
	height: 100vh;
	font-size: 1.6rem;
	line-height: 180%;

	font-family: 'Ubuntu', sans-serif;
	

	&:before {
		content: '';
		position: fixed;
		top: 0; 
		width: 100%;
		border-top: 4px solid $font-color-muted;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $black;
	font-weight: 800;
}

a {
	&:hover, &:focus{
		color: inherit;		
		text-decoration: none;
	}
}

.category-description {
	p {
		color: $light-black;
	}

	a {
		color: $link-color;
	}
}

p {
	margin-bottom: 1.4rem;
}

.simple-nav {
	a {
		&:hover {
			color: $link-color;
			text-decoration: underline;
		}

		&:after {
			content: '|';
			margin: 0 10px;
		}
	}
}

.link {
	color: $link-color;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.4rem;
	
	&:hover {
		text-decoration: underline;
	}
}

.img--profile {
	width: 80px;
	height: 80px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../assets/profile.png');
	border-radius: 50%;
}

.off-black {
	color: $light-black;
}

.list--no-bullets {
	list-style: none;
	margin: 0; 
	padding: 0;

	li {
		margin: 0;
		padding: 0;
	}
}

.email-subscription {
	position: relative;
	text-align: left; 

	#mc_embed_signup form {
		width: 100%;
		padding: 0;
	}

	#mc_embed_signup_scroll {
		display: flex;
		flex-direction: column;
	}	

	#mc_embed_signup input.email {
		margin: 5px 0;
		border-radius: 0;
		width: 100%
	}

	#mc-embedded-subscribe {
		border-radius: 0;
		width: 100%;
	}
}