@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.8rem;
	line-height: 1.2;
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: $black;
	font-weight: 600;
}

a {
	text-decoration: none;
	color: inherit;

	&:hover, &:focus{
		color: inherit;
		text-decoration: none;
	}
}


.category-description {
	p {
		color: $light-black;
	}

	a {
		color: $link-color;
	}
}

p {
	margin-bottom: 1.4rem;
}

.simple-nav {
	a {
		&:hover {
			color: $link-color;
			text-decoration: underline;
		}

		&:after {
			content: '|';
			margin: 0 10px;
		}
	}
}

.link {
	color: $link-color;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.4rem;

	&:hover {
		text-decoration: underline;
	}
}



.off-black {
	color: $light-black;
}

.list--no-bullets {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;
	}
}

.email-subscription {
	position: relative;
	text-align: left;

	#mc_embed_signup form {
		width: 100%;
		padding: 0;
	}

	#mc_embed_signup_scroll {
		display: flex;
		flex-direction: column;
	}

	#mc_embed_signup input.email {
		margin: 5px 0;
		border-radius: 0;
		width: 100%
	}

	#mc-embedded-subscribe {
		border-radius: 0;
		width: 100%;
	}
}
