/* For mobile phones: */


@media only screen and (min-width: 600px) {
    main.content-wrapper{   
        width: calc(100% - 30px);
    }

    header{
        width: 50%;
    }

    nav{
        ul{
            li{
                display: inline;
            }
        }
    }

}

@media only screen and (min-width: 600px) {
    .thumbnail{
        display: inline-block !important;
    }
}


@media only screen and (min-width: 800px) {
    .post{
        width: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    main.content-wrapper{   
        width: 90%;
    }   
}

@media only screen and (min-width: 1600px) {
    main.content-wrapper{   
        width: 70%;
    }
}