@media only screen and (max-width: 500px) {
 	.container{
 		width: calc(100% - 60px);
 		margin: 30px;
 	}

 	.intro{
 		width: 100%;
 		text-align: center;
 	}

 	.item{
 		width: 100% !important;
 	}
}