nav{
	width: 100%; 
	margin: 3*$content-padding 0px $content-padding 0px;
	text-align: center;
	font-weight: 600;

	ul{
		padding: 0px; 
		//margin: 0px 90px;

		li{
			display: block;
			padding: 0px;
			margin: $list-spacing;
			line-height: 30px;

			text-transform: uppercase;

			a{
				font-size: $font-mini;
				color: $font-color-accent; 
				font-family: 600;

				&:hover{
					text-decoration: none;
					color: $body-font-color;
				}
			}

			cursor: pointer;

			&.active{
				color: $font-color-accent;
				background-color: $body-font-color; 
				padding: 5px;
				font-weight: 600; 
				border-radius: 10px;
			}
		}
	}
}

