.navigation{
	display: flex;
	flex-direction: column;
	justify-content: center;

	align-items: center;

	width: inherit;

	margin: 0 auto;

	section{
		margin: $default-margin 0px;
	}

	.tag-container{

		display: flex; 
		flex-direction: row; 
		flex-wrap: wrap;
		justify-content: center;

		margin: 0px;
		padding: 0px;

		list-style-type: none;

		.tag{
			font-size: 10px;
			line-height: 14px;
			padding: 5px;

			border-radius: 50px;
			border: 1px solid gray;
			margin: 2px 4px 2px 0px;

			background-color: #DDD4D4;
			color: #494242;

			.name{
				padding: 0px 3px;
			}

			.count{
				display: inline;
				color: gray;
				border: 1px solid white;
				background-color: white;

				padding: 0px 5px;
				border-radius: 50%;

			}
		}
	}

	.social-media-icons{
		display: flex; 
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}

	.media-icon{
		@extend .media;
		border-radius: 50%;
	}
}



.back-navigation{
	width: 100%;
	height: $navigation-height;

	display: flex; 
	flex-direction: row;
	justify-content: space-between;

	font-weight: 100;

	.home{
		font-size: 1.4rem;
		line-height: 2rem;
	}

	.share{
		display: flex;
		flex-direction: row;

		.media-icon{
			@extend .media;
		}	
	}
}

.pagination-wrapper{
	width: 100%;

	.pagination{

		width: 100%;

		ul.page-items{
			width: 100%;

			display: flex;
			flex-direction: row;
			align-items: flex-end;

			padding: 0px 0px 0px 1rem;
			margin: 0px;

			list-style: none;

			li.page-link{
				display: inline;
				margin-right: 5px;
				padding: 5px;

				&.active{
					background-color: gray;
					color: white;
				}

				&.hidden{
					display: none;
				}
			}
		}

	}

}