/// ---- top navigation
.nav-item.active {
	.nav-link {
		color: $font-color-accent !important;
	}
}


.nav--top {
	padding: 0 .5 * $content-margin;
	background-color: $black;

	.container {
		padding: .5 * $content-margin;
	}

	.navbar-brand {
		color: $font-color-accent;
		font-size: 1.6rem;
		font-family: 'Lato', sans-serif;
	}
}

.nav-link {
	text-transform: uppercase;
}

@media (min-width: 768px) { 
	.nav-link {
        margin-left: 15px;
	}
}
