$navbar-height: 54px; 

.container--main-wrapper {
    padding-top: 0.2 * $content-margin; // 0.2 * $content-margin + $navbar-height;  
    max-width: 1020px;
}

.container--main {
    padding: $content-margin 0.5 * $content-margin;
}
