$navbar-height: 54px;

.container--main-wrapper {
    margin: 10vh auto;
    padding-top: 0.2 * $content-margin; // 0.2 * $content-margin + $navbar-height;
    max-width: 800px;
}
.container--main {
    padding: $content-margin 0.5 * $content-margin;
}
