.post-container-wrapper{

	display: flex;
	flex-direction: column;

	.post-container{

		margin: 15px;

		.title{
			text-transform: uppercase;
			color: gray;
		}

		.description-text{
			font-size: 14px;
			line-height: 24px;

			a{
				display: block;
				font-size: 14px;
				line-height: 24px;
				font-weight: 100;
				font-family: Oswald;
				color:#707088;
				a::after{
					content: "->"
				}
			}
		}

		.tags{

			display: none;

			.tag{

			}
		}

		.date{
			font-size: 10px;
		}

	}

}
