.post-body-wrapper{

	max-width: 750px;

	display: flex; 
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	padding-top: 15vh;

	overflow: hidden;

	.post-wrapper{

		section{

			margin-bottom: $default-spacing;

			p{
				font-size: 1em;
				line-height: 2.2em;
			}

			li{
				font-size: 1em;
				line-height: 2.2em;
				margin-bottom: 1em;
			}

			&.post-title{
				font-size: 2em;
			}

			&.summary{
				padding: 2rem 0px;

				border-top: 1px solid gray;
				border-bottom: 1px solid gray;

				font-size: 1em;
				line-height: 2.1em;
			}

			&.date{

			}

			&.post-content{
				
			}
		}



	}
	
}
