.post-container-wrapper{

	display: flex;
	flex-direction: column;

	.post-container{

		margin: 15px;

		.title{
			text-transform: uppercase;
		}

		.description-text{

			@extend .font-size-regular;

			a{
				display: block;
				font-weight: 100;
				
				a::after{
					content: "->"
				}
			}
		}

		.tags{

			display: none;

			.tag{

			}
		}

		.date{
			@extend .font-size-small;
		}

	}

}
