.post-container-wrapper{

	display: flex;
	flex-direction: column;
	flex-grow: 1;

	padding: 1.2em 1em 1em 1em;

	.post-container{

		margin-top: 2.5em;
		margin-bottom: 2.5em;

		.description-text{

			a{
				display: block;
				font-weight: 100;
				
				a::after{
					content: "->"
				}
			}
		}

		.tags{

			display: none;

			.tag{

			}
		}



	}

}
