.post-body-wrapper{
	display: flex; 
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	.nav-wrapper{
		margin-top: 2rem;
		width: 100% !important;
	}

	.post-wrapper{
		margin: 0 auto;
		background-color: white;
		padding: 5rem;
		width: $content-width;

		.summary{
			border-top: 1px solid gray;
			border-bottom: 1px solid gray;

			margin-top: 3rem;
			margin-bottom: 3rem;
		}

		.date{
			margin-bottom: 3rem;
			font-size: 0.8em;
		}

		.post-content{
			font-size: 1.2em;
			line-height: 1.8em;

			margin-bottom: 3rem;
		}

		section{
			margin-top: 10rem;
		}


	}
	
}
