/// ---- side navigation
@media (min-width: 768px) { 
	.nav--side {
        position: fixed;
		border: none;
		margin-bottom: 0;
	}
}

@media (max-width: 767px) { 
	// disabled offset-sm-5 
	.container--main {
        margin-left: 0;
	}
}


// fix for low height, landscape phones
@media (max-height: 450px) and (orientation: landscape) {
	.nav--side {
		position: relative;
	}

	// override container offset applied by bootstrap class
	.container--main {
		margin-left: 0;
	}
}

.nav--side {
	padding-top: $content-padding;
	margin-bottom: 3 * $content-margin;
	width: inherit;
	min-width: 250px;

	.main__title {
        color: $black;
	}
	
	li.active a {
		color: $font-color-muted;
	}
}


.social-media-icons{
	.fa{
		font-size: 14px;
		border: 3px solid $body-font-color;
		border-radius: 50%;
		padding: 10px;
		margin-right: 15px;
		margin-top: 10px;
		color: $body-font-color;
	}
}
