/// ---- side navigation
@media (min-width: 768px) { 
	.nav--side {
        position: fixed;
		border: none;
		margin-bottom: 0;
		max-width: 20%;
	}
}

.nav--side {
	padding-top: $content-padding;
	margin-bottom: 3 * $content-margin;
	line-height: 1.4;

	.main__title {
        color: $black;
    }


	.social-media-icons{
		.fa{
            font-size: 14px;
			border: 3px solid $body-font-color;
			border-radius: 50%;
			padding: 10px;
			margin-right: 15px;
			color: $body-font-color;
		}
	}
}
