$default-spacing: 1em;
$default-margin: 1em;
$content-width: 600px;

$navigation-height: 3rem;

$side-navigation-margin-top: 1em;
$side-navigation-width: 250px;

.media{
	height: 2rem; 
	width: 2rem; 

	font-size: 1rem;
	line-height: 2rem;

	border: 1px solid #222; 
	margin: 5px 5px 5px 0px;

	text-align: center;
	vertical-align: middle;
}

.center{
	text-align: center;
}

