$bg-color: #EEEEEE;
$text-color: #222222;
$heading-color: #8B8B8B;

.media{
	height: 30px; 
	width: 30px; 

	font-size: 14px;
	line-height: 30px;

	border: 1px solid #222; 
	margin: 5px;

	line-height: 30px;
	text-align: center;
	vertical-align: middle;
}