$content-margin: 30px; 



$content-side-padding: 90px; 
$content-top-padding: 40px;

$content-padding: 30px;
$content-padding--wide: 120px;

$section-padding: $content-padding--wide/2 $content-padding $content-padding $content-padding--wide;
$post-padding: 30px;
$list-spacing: 10px;



$black: #3F4651;
$light-black: #6f6f6f;
$muted-black: #ddd; 

// typography
$body-font-color: #3F4651;
$font-color-muted: rgba(231, 112, 0, 0.692);//#538CD4;
$font-color-accent: #E7BF00;

$body-font-size: 14px;
$body-line-height: 20px; 
$font-mini: 18px;