<div class="category-navigation">
	<ul>

			{% for collection in site.collections %}
		        <li 
		        	{% if collection.label == page.type %}class="active"
					{% endif %}
					>

		        	<a 
						{% if collection.label == 'posts' %}href="/"
						{% else %}href="{{site.baseurl}}/{{ collection.label }}/"
						{% endif %}
		        	>
		        	{{ collection.label }} 
		        	</a>
		        </li>
			{% endfor %}
		
			<!-- <li class="{{page.blog}}" id='nav-blog'>
				<a href='/'>Blog</a>
			</li>
		
		
			<li class="{{page.projects}}" id='nav-projects'>
				<a href='./projects'>Projects</a>
			</li> -->
		
		<!-- <li class="disabled">Jargon</li> -->
	</ul>
</div>
