.projects-container-wrapper{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	padding: 1.2em 0em 1em 0em;

	.projects-container{

		max-width: 150px;
		min-width: 200px;

		border: 1px solid #CFCDCD; 
		border-radius: 4px;

		margin: 0.35em 0.7em 0.35em 0px;
		padding: 0.3em;

		display: flex;
		flex-direction: column; 
		justify-content: space-between;

		background-color: white;

		.image{
			background-size: cover;
			background-position: center;
			min-height: 100px;
			margin-bottom: 10px;
		}

		.title{
			font-size: 18px !important;

			/* &:before{
				content: '//'
			} */
		}

		.description-text{

			a{
				display: block;
				font-weight: 100;
				
				a::after{
					content: "->"
				}
			}
		}


		.tag-container{

			display: flex; 
			flex-direction: row; 
			flex-wrap: wrap;
			justify-content: start;

			margin: 0px;
			padding: 0px;

			list-style-type: none;

			.tag{
				font-size: 10px;
				line-height: 11px;
				padding: 3px;

				border-radius: 3px;
				border: 1px solid gray;
				margin: 2px 4px 2px 0px;

				background-color: #f6f5f5;//$accent-1;
				color:  $accent-contrast-1;

				.name{
					padding: 0px 3px;
				}

				.count{
					display: inline;
					color: gray;
					border: 1px solid white;
					background-color: white;

					padding: 0px 5px;
					border-radius: 50%;

				}
			}
		}
		.date{
			text-transform: uppercase;
			font-size: 12px;
			font-family: Oswald;
			display: none;
		}

		.link{
			&:before{
				content: "Explore";
			}
		}


	}

}
