<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include navigation.html %}
    <main style="margin-top: 52px;">
        <section class="hero is-small is-link">
          <div class="hero-body container has-text-centered">
            <p class="title is-3">{{ page.title }}</p>
            <p class="subtitle is-6">{{ page.description}}</p>
          </div>
        </section>
        <section class="section is-small">
          <div class="is-flex is-flex-direction-column is-align-items-center">
            {% assign categories_list = site.categories %}
            {% for post in site.categories[page.listing_type]  %}
                {% include thumbnail.html %}
            {% endfor %}
          </div>
        </section>
    </main>
  </body>
</html>
