/// whatsapp color scheme
//$primary-color: 
$secondary-color: #128C7E; 
$accent-color-1: #25D366; 
$accent-color-3: #34B7F1;
$accent-color-2: #075E54; 
$primary-color: #DCF8C6;

$text-color: #555;
$background-color: #ebedf3;

$bg-color: $primary-color;

$heading-color: $secondary-color;
$accent-color: $accent-color-2; 
$accent-color-muted: $accent-color-3;

$accent-1: black;
$accent-contrast-1: black;

$accent-2:  black;//#6c6cc8;
$accent-contrast-2: black;//#B7B7C9;