<div class="item--project">

	<div class="item--project-tags">
		<ul class="fancy-list">
			<li>dashboard-design</li>
			<li>user-experience</li>
			<li>frontend</li>
		</ul>
	</div>

	<div class="h1 item--project--title">
		Sensing Dashboards
	</div>

	<div class="h4 item--project--role">UX Engineer | UI/UX</div>

	<div class="item--project--description">
		Built with Angular, Mobius offers a visual programming environment in the browser, merging flow-based and textual programming paradigms.  It is an easy-to-use, open source platform, __ data viewers and function libraries. Mobius is an open source project being developed in the Design Automation Lab at the National University of Singapore. 
	</div>


	<a href="https://design-automation.github.io/mobius-modeller">Visit Project</a>
</div>