<header class='main'>
	<h2 class='main__title'>Akshata Mohanty</h2>

	<p class='subtext'>
		Fullstack Developer @ <a href='http://viki.com/' target='_blank'>Rakuten Viki</a>
	</p>

	<hr />

	<p>
		I'm a binary brain, in love with code. An incorrigible tinkerer and serial MOOCer - I graduated as an architect and found my way into software with online courses. I have over 25 online certifications in Web & Mobile Developement, Data Science, Design and Business.
	</p>
	
	<br>

	<p>
		Fascinated by the human mind, I'm interested in products that aid human potential. I was the lead developer for <a href='https://github.com/design-automation/mobius-core'>Mobius</a> - a visual programming educational tool used at the National University of Singapore. 
	</p>

	<br>

	<p>
		I'm a loyal member of <a href='https://www.meetup.com/Burger-buddies/' target='_blank'>
		Burger Buddies @ Singapore</a>. Hit me up for burger suggestions around town!
	</p>

	<br />
	<hr />

	<p>
		Got an idea? Let's nerd it out.
    	<div class="social-media-icons">
			<a target="_blank" href="https://github.com/akshatamohanty"><i class="fa fa-github"></i></a>
			<a target="_blank" href="https://linkedin.com/in/akshatamohanty"><i class="fa fa-linkedin"></i></a>
			<a target="_blank" href="https://medium.com/@akshatamohanty"><i class="fa fa-medium"></i></a>
		</div>
	</p>

	<br>

	{% include page-elements/copyright.html %}
</header>
