<header class='main'>
	<div class='img--profile'></div>
	<br>
	<h2 class='main__title'>Akshata Mohanty</h2>

	<div class='off-black small-text'>
		<div class='subtext'>
			<b><a class='link' href='http://viki.com/' target='_blank'>FULLSTACK DEVELOPER @  Viki</a></li></b>
		</div>
		<hr/>
		Self-taught developer. Previously <a class='link' href='https://www.sde.nus.edu.sg/' target='_blank'>NUS</a>, <a class='link' href='https://flipkart.com' target='_blank'>Flipkart</a>. Studied Architecture at <a class='link' href='https://iitkgp.ac.in/' target='_blank'>IITKgp</a>.
		
		<br><br>
	
		<ul class='list--no-bullets'>
			<li><a class='link off-black' href='/'>Home</a></li>
			<li><a class='link off-black' href='/blog'>Blog</a></li>
			<li><a class='link off-black' href='/fullstack'>Fullstack</a></li>
			<li><a class='link off-black' href='/datascience'>Data Science</a></li>
			<li><a class='link off-black' href='/publications'>Publications</a></li>
		</ul>
	</div>
</header>
