<div class="wrapper_main">
  <div class="wrapper_main_content--center">
    <div class='section_about'>
      <div class='img--profile-lg'>
        <div class='image-overlay'></div>
      </div>
      <div class='about-me'>
        <h1>Hi. I'm <span>Akshata</span>.</h1>

        <p>
          I am a Fullstack Engineer on the Web team at Rakuten Viki. I am  a self taught developer, with a degree in Architecture from IIT Kharagpur in India. I enjoy teaching and am a Mentor and Bootcamp Coach at Tech Ladies, Singapore. In my spare time, I like to experiment with AI by building end-to-end applications.
          <br /><br/>
          Also, I'm a fanatic foodie and a wannabe MMA fighter.
          {% include page-elements/social-media.html %}
        </p>
      </div>
    </div>
  </div>
</div>