<article class="blog-post-container"> 
    <div class='blog-post__content'>
        <div class='post__meta'>
            <span class='date'>{{post.date | date: "%B %Y"}}</span>
            <span class='marker'>{{post.marker}}</span>
        </div>
        <h1>
            <a href={{post.url}}>{{post.title}}</a>
        </h1>
        {% if post.authors %}<p>{{post.authors}}</p>{% endif %}
        <br>
        <p>{{ post.summary }}</p>
        <a class='link' href={% if post.projecturl %}{{post.projecturl}} target='_blank'{% else %}{{post.url}}{% endif %}>Read</a>
    </div>
</article>
