<nav class="navbar">
	<a class="navbar-brand" href="/">&lt; iamaatoh / &gt;</a>
	<a class="navbar-brand-sm" href="/">~</a>
	<ul class="nav-links-wrapper">
		<li {% if page.page == 'blog' %} class='active' {% endif %}><a href='/blog' alt="Akshata Mohanty's Blog">Blog</a></li>
		<li {% if page.page == 'works' %} class='active' {% endif %}><a href='/works' alt="Akshata Mohanty's Projects">Works</a></li>
		<li {% if page.page == 'talks' %} class='active' {% endif %}><a href='/talks' alt="Akshata Mohanty's Talks">Talks</a></li>
	</ul>
	</div>
</nav>