<nav class="navbar">
	<a class="navbar-brand" href="/">&lt; iamaatoh / &gt;</a>
	<a class="navbar-brand-sm" href="/">~</a>
	<ul class="nav-links-wrapper">
		<li {% if page.page == 'blog' %} class='active' {% endif %}><a href='/blog' alt="Technical notes & learnings">Blog</a></li>
		<li {% if page.page == 'projects' %} class='active' {% endif %}><a href='/projects' alt="Collection of my projects">Projects</a></li>
		<li {% if page.page == 'works' %} class='active' {% endif %}><a href='/works' alt="Research papers & technical talks">Works</a></li>
	</ul>
	</div>
</nav>