<div class="nav-wrapper">
	<a class="navbar-brand" href="/"></a>
	<ul>
		<li {% if page.page == 'blog' %} class='active' {% endif %}><a href='/blog' alt="Akshata Mohanty's Blog">Blog</a></li>
		<li {% if page.page == 'works' %} class='active' {% endif %}><a href='/works' alt="Akshata Mohanty's Projects">Works</a></li>
		<li {% if page.page == 'talks' %} class='active' {% endif %}><a href='/talks' alt="Akshata Mohanty's Talks">Talks</a></li>
		<!-- <li {% if page.page == 'about' %} class='active' {% endif %}><a href='/about' alt="About Me">About</a></li> -->
	</ul>
</div>