<header class="text-center">
	<h3>Akshata Mohanty</h3>
	<h4>Full Stack Developer</h4>

	<br>

	<p>
		Fascinated by the human brain. Building technologies to aid human potential. Intrigued by cash flows. If I am not coding, I am food-ing.  
	</p>

	<br>

	<p>
		Got an idea? Let's nerd it out.
    	<div class="social-media-icons">
			<a target="_blank" href="https://github.com/akshatamohanty"><i class="fa fa-github"></i></a>
			<a target="_blank" href="https://linkedin.com/in/akshata-mohanty"><i class="fa fa-linkedin"></i></a>
			<a target="_blank" href="https://linkedin.com/in/akshata-mohanty"><i class="fa fa-medium"></i></a>
		</div>
	</p>
</header>
