<div class='divider'></div>
<nav class='post-nav'>
	<!-- next post -->
	{% assign cat = page.categories[0] %}
	{% assign cat_list = site.categories[cat] %}
	{% for post in cat_list %}
		{% if post.url == page.url %}
			{% assign pOffset = forloop.index0 | minus: 1 %}
			{% assign nOffset = pOffset | plus: 2 %}
			{% if forloop.first == false %}
				{% assign next_post = cat_list[pOffset] %}
			{% endif %}
			{% if forloop.last == false %}
				{% assign previous_post = cat_list[nOffset] %}
			{% endif %}
			{% break %}
		{% endif %}
	{% endfor %}
	<div class='nav-item nav-item-left'>
		{% if previous_post %}
		<label>Previous</label> <br/>
		<h4><a href={{previous_post.url}}>{{ previous_post.title }}</a></h4>
		{% endif %}
	</div>
	<div class='nav-item nav-item-right'>
		{% if next_post %}
		<label>Next</label> <br />
		<h4><a href={{next_post.url}}>{{ next_post.title }}</a></h4>
		{% endif %}
	</div>
</nav>