<div>
    <!-- <div class='off-black small-text'>Easily found at:</div> -->
    <div class="social-media-icons">
        <a target="_blank" href="https://twitter.com/@iamaatoh"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="https://medium.com/@iamaatoh"><i class="fa fa-medium"></i></a>
        <a target="_blank" href="https://github.com/akshatamohanty"><i class="fa fa-github"></i></a>
        <a target="_blank" href="https://linkedin.com/in/akshatamohanty"><i class="fa fa-linkedin"></i></a>
    </div>
</div>