<p>
    <h3>Liked this article? Please share!</h3>
    <div class="social-media-icons">
        <a class="twitter-share-button"
            href="https://twitter.com/intent/tweet?text={{page.title}} by @akshatamohanty&url={{site.url}}{{page.url}}"
            target="_blank"
            data-size="large">
            <i class="fa fa-twitter"></i>
        </a>
        <a target="_blank" 
            href="https://www.linkedin.com/sharing/share-offsite/?url={{site.url}}{{page.url}}">
            <i class="fa fa-linkedin"></i>
        </a>
        <a target="_blank" 
            href='http://www.reddit.com/submit?url={{site.url}}{{page.url}}&title={{page.title | url_encode}}%20by%20@akshatamohanty'>
            <i class="fa fa-reddit"></i>
        </a>
        <a href="whatsapp://send?text={{page.title | url_encode}}%20by%20Akshata Mohanty%20{{site.url}}{{page.url}}" 
            data-action="share/whatsapp/share">
            <i class="fa fa-whatsapp"></i>
        </a>
        <a target="_blank" 
            href="http://news.ycombinator.com/submitlink?u={{site.url}}{{page.url}}&t={{page.title}} by Akshata Mohanty">
            <i class="fa fa-y-combinator"></i>
        </a>
    </div>
</p>
<br />
