.back-navigation{

	width: 100%;
	height: $navigation-height;

	display: flex; 
	flex-direction: row;
	justify-content: space-between;

	font-weight: 100;

	padding: 2rem 0px;

	.home{
		line-height: 2rem;

		a{
			font-size: 1.3em;
		}
	}

	.share{
		display: flex;
		flex-direction: row;

		.media-icon{
			@extend .media;

			font-size: 2.2em;
			width: 2.2em;
			height: 2.2em;
			border: none;
		}	
	}
}
