.category-navigation{

	ul{

		margin: 0px; 
		padding: 0px;

		list-style-type: none;

		display: flex;
		flex-direction: row; 

		font-size: 16px;
		min-width: 200px;


		li{

			margin: 0px 0px 0px 30px;
			padding: 0px;

			color: $text-color-muted;
			text-transform: uppercase;
			
			a{
				font-family: Oswald;
				margin: 20px 0px;
				text-decoration: none;
				color: $text-color;
			}

			&.active{
				a{
					color: $accent-color !important;
					font-weight: bold;
				}
			}

			flex-grow: 1;

			cursor: pointer;

			

		}
	}
}
