.pagination-wrapper{
	width: 100%;

	.pagination{

		width: 100%;

		ul.page-items{
			width: 100%;

			display: flex;
			flex-direction: row;
			justify-content: center;

			padding: 0px 0px 0px 1rem;
			margin: 0px;

			list-style: none;


			li.page-link{
				display: inline;

				border-radius: 50%;

				div{
					font-size: 15px;
					line-height: 30px;
					width: 30px;
					height: 30px;
					display: inline-block;
					text-align: center;
					color: $text-color-muted;
					border-radius: 50%;

					&.active{
						border: 3px solid $accent-color;
						color: $accent-color;
					}
				}

				a{
					text-decoration: none;
					margin: 0px; 
					padding: 0px;
				}

				&.active{

				}

				&.hidden{
					display: none;
				}
			}
		}

	}

}