<!-- 
<footer class="footer" style="padding-top: 0">
    <div class='columns'>
        <div class='column'>
            <div class='heading'>Writing & Notes</div>  
            <div>
                <div><a href='/essays'>Essays</a></div>
                <div><a href='/guides'>Guides</a></div>
                <div><a href='/stacks'>Stacks</a></div>
                <div><a href='/bookshelf'>Bookshelf</a></div>
                <div><a href='/the-lab'>The Lab</a></div>
            </div>        
        </div>
        <div class='column'>
            <div class='heading'>Creations</div>  
            <div>
                <div><a href='https://www.meetup.com/practical-blockchain/' target="_blank">Practical Blockchain</a></div>
                <div><a href='https://startupengineer.substack.com/' target='_blank' >The Startup Engineer</a></div>
                <div><a href='https://www.instagram.com/iamaatoh/' target='_blank'>My Artwork</a></div>
                <div><a href='/research'>Research</a></div>
                <div><a href='/projects'>Miscellaneous Projects</a></div>
            </div>        
        </div>
    </div> 
    <div class='content has-text-centered'>
        
    </div>
    
</footer> 
-->
<footer class="section"><small>Copyright © 2023 Akshata Mohanty</small></footer>