
<footer class="footer">
  <div class="content has-text-centered">
    <div class='columns'>
        <div class='column'>
            <div class='heading'>Writing & Notes</div>  
            <div>
                <div><a href='/essays'>Essays</a></div>
                <div><a href='/guides'>Guides</a></div>
                <div><a href='/stacks'>Stacks</a></div>
                <div><a href='/bookshelf'>Bookshelf</a></div>
                <div><a href='/the-lab'>The Lab</a></div>
            </div>        
        </div>
        <div class='column'>
            <div class='heading'>Creations</div>  
            <div>
                <div><a href='https://www.meetup.com/practical-blockchain/' target="_blank">Pratical Blockchain</a></div>
                <div><a href='https://startupengineer.substack.com/' target='_blank' >The Startup Engineer</a></div>
                <div><a href='https://www.instagram.com/iamaatoh/' target='_blank'>My Artwork</a></div>
                <div><a href='/research'>Research</a></div>
                <div><a href='/projects'>Miscellaneous Projects</a></div>
            </div>        
        </div>
    </div>
    <br/><br/>
    <div class='content has-text-centered'>
        Copyright © 2022 Akshata Mohanty
    </div>
  </div>
</footer>
