<head>
	<title>{{ page.title }}</title>
	<meta name="description" content="{{ page.description }}" />

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:description" content="{{ page.summary }}" />
	<meta property="og:image" content="{{ page.image }}" />
	<meta property="og:image:width" content="400" />
	<meta property="og:image:height" content="300" />
	<meta property="og:type" content="website" />


	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

	<link href='https://iamaatoh.com/feed.xml' rel='alternate' type='application/atom+xml'>

		<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111560396-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-111560396-1');
		document.fonts.ready.then((fontFaceSet) => {
			document.body.style.opacity = 1
		});
	</script>
	<script>
		document.addEventListener('DOMContentLoaded', () => {

		// Get all "navbar-burger" elements
		const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

		// Add a click event on each of them
		$navbarBurgers.forEach( el => {
		el.addEventListener('click', () => {

			// Get the target from the "data-target" attribute
			const target = el.dataset.target;
			const $target = document.getElementById(target);

			// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
			el.classList.toggle('is-active');
			$target.classList.toggle('is-active');

		});
		});

		});
	</script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;900&display=swap" rel="stylesheet">

	<style>
		html, body {
			width: 100%;
			height: 100%; 
			position: relative;
			overflow-x: hidden;
			font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		}

		body {
			position: relative;
			font-size: 16px !important; 
			line-height: 24px !important;
		}

		.breadcrumb li {
			white-space: pre-wrap;
		}
	</style>
</head>
