<aside class="menu" style="position: sticky; top: 0; padding-top: 80px; margin-top: -80px;">
{% for item in page.menu %}
    <p class="menu-label">
    {{ item.label }}
    </p>
    {% if item.list %}
    <ul class="menu-list has-text-grey-light">
        {% for subitem in item.list %}
            <li class="is-size-7">
                <a class="menu-list-item" href="#{{subitem.href}}"> {{ subitem.label | capitalize }}</a>
                {% if subitem.list %}
                    <ul>
                    {% for subsubitem in subitem.list %}
                        <li class="is-size-7">
                            <a class="menu-list-item" href="#{{subsubitem.href}}" >{{ subsubitem.label | capitalize }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endfor %}
</aside>