
<div class='navbar'>

	<!-- list of tags -->
	<div class='tag-container'>
		<!-- <span class='tag'>Angular</span>
		<span class='tag'>UI/UX</span>
		<span class='tag'>Android</span>
		<span class='tag'>Javascript</span>
		<span class='tag'>Python</span>
		<span class='tag'>Machine Learning</span>
		<span class='tag'>Artificial Intelligence</span>
		<span class='tag'>Cooking</span>
		<span class='tag'>Design</span>
		<span class='tag'>Product</span>
		<span class='tag'>Life</span>
		<span class='tag'>CSS Animations</span> -->
		
		{% for tag in site.tags %}
			<span class='tag'>{{ tag | first }}</span>
        {% endfor %}
	</div>

	<div class='branding'>amoh <br>Workshop</div>

	<div class='social-media'>
		<a href="https://twitter.com/akshata_mohanty?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @akshata_mohanty</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
		<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/akshata-mohanty" data-format="hover" data-related="false" data-text="Akshata Mohanty"></script>
	</div>

</div>