<nav
  class="navbar is-fixed-top is-dark"
  role="navigation"
  aria-label="main navigation"
>
  <div class="container px-4" style="max-width: 894px;">
    <div class="navbar-brand">
      <h1 id="logo" class="navbar-item has-text-weight-bold" style="padding: 0px">
        <a href='/' style="color: white;">Akshata Mohanty</a>
      </h1>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbar"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
 
    <div id="navbar" class="navbar-menu">
      <div class="navbar-end">
        <a href="/blog" class="navbar-item is-hoverable {% if page.url contains 'blog' %}is-active{% endif %}">Blog</a>
        <a href="/talks" class="navbar-item is-hoverable {% if page.url contains 'talks' %}is-active{% endif %}">Talks</a>
        <!-- <a href="/projects" class="navbar-item is-hoverable {% if page.url contains 'projects' %}is-active{% endif %}">Architect's Data</a> -->
        <a href="/designing-ai-agents" class="navbar-item is-hoverable">AI Agents</a>
        <a href="/appdevtools" class="navbar-item is-hoverable">App Toolkit</a>
        <a href="/about-me" class="navbar-item is-hoverable">About Me</a>
      </div>
    </div>
  </div>
</nav>
