<nav
  class="navbar is-fixed-top is-light"
  role="navigation"
  aria-label="main navigation"
>
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <span>&lt;iamaatoh /&gt;</span>
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <!-- <a href="/ideas" class="navbar-item">Ideas Marketplace</a> -->
        <a href="/startup-toolkit" class="navbar-item">Startup Toolkit</a>
        <a href="/engineering" class="navbar-item">Engineering</a>
        <a href="/notes" class="navbar-item">Notes</a>
      </div>
    </div>
  </div>
</nav>
