<div class="navigation">
	
	<h1 class="center page-title">{{site.title}}</h1>

	<section class="center">
		<h5 class="heading">ABOUT ME</h5>
		<p class="center">{{ site.description }}</p>
	</section>

	<section class="center">
		<h5 class="heading">Topics</h5>
		<ul class="tag-container">
			{% for tag in site.tags %}
			  {% assign t = tag | first %}
			  {% assign posts = tag | last %}
			  <li class="tag">
			  	<span class="name">{{t}}</span> 
			  	<span class="count">{{ posts | size }}</span>
			  </li>
			{% endfor %}
		</ul>
	</section>

	<section class="center">
		<h5 class="heading">My Work</h5>
		<div class="social-media-icons">
			<!-- <div class="media-icon"><i class="fa fa-medium"></i></div> -->
			<a target="_blank" href="https://www.github.com/akshatamohanty/">
				<div class="media-icon"><i class="fa fa-github"></i></div>
			</a>

			<a target="_blank" href="https://codepen.io/akshatamohanty/">
				<div class="media-icon"><i class="fa fa-codepen"></i></div>
			</a>
			<!-- <div class="media-icon"><i class="fa fa-behance"></i></div> -->
		</div>
	</section>

	<section class="center">
		<h5 class="heading">Contact</h5>
		<div class="social-media-icons">
			<a target="_blank" href="mailto:akshatamohanty@gmail.com">
				<div class="media-icon">
					<i class="fa fa-google"></i>
				</div>
			</a>
			<a target="_blank" href="https://www.linkedin.com/in/akshata-mohanty/">
				<div class="media-icon">
					<i class="fa fa-linkedin"></i>
				</div>
			</a>
			<a target="_blank" href="https://twitter.com/akshata_mohanty">
				<div class="media-icon">
					<i class="fa fa-twitter"></i>
				</div>
			</a>
		</div>
	</section>

</div>