<div class="my-4 columns" style="padding-bottom: 12px;">
    {% if post.embed %}
    <div class="p-2 column is-two-fifths">
        {{post.embed}}
    </div>
    {% endif %}
    <div class="p-2 column">
        <p class="is-size-6 ">{{post.date | date: "%b %d, '%y" }} | {{ post.where }}</p>
        <div class="is-size-5">
            <a class='' target="_blank" href={{post.external_url}}>{{ post.title }}</a>
        </div>
        <p class="is-size-7">
            {{ post.description }}
            &nbsp;&nbsp;
            {% if post.slides %}
            <a class='' underline' href={{post.slides}} target="_blank">[Slides]</a>
            {% endif %}
            {% if post.demo %}
            <a class='mx-2' underline' href={{post.demo}} target="_blank">[Demo]</a>
            {% endif %}
        </p>
    </div>
</div>