{% if post.categories[0] == 'essays'  %} {% include fragments/default.html %} {% endif %}
{% if post.categories[0] == 'guides' %} {% include fragments/default.html %} {% endif %}
{% if post.categories[0] == 'bookshelf' %} {% include fragments/review.html %} {% endif %}
{% if post.categories[0] == 'research' %} {% include fragments/research.html %} {% endif %}
<!-- Only for listing pages -->
{% if page.listing_type == 'talks' %} {% include fragments/talk.html %} {% endif %}
{% if page.listing_type == 'projects' %} {% include fragments/link.html %} {% endif %}
{% if page.listing_type == 'stacks' %} {% include fragments/note.html %} {% endif %}