{% if post.categories contains 'essays' %}
<li class="list-item my-2">
  <div>
    <time class="has-text-grey has-text-right" datetime="{{ post.date | date_to_xmlschema }}" style="
      width: 100px; 
      font-family: monospace; 
    ">
      {{ post.date | date: "%Y-%m" }}
    </time>
    <a class="ml-4 has-text-weight-semibold has-text-black" href="{{ post.url }}">
      {{ post.title }}
    </a>
  </div>
</li>
{% endif %}

{% if post.categories contains 'talks' %}
<li class="list-item my-2 mx-4">
  <span>
    <a class="has-text-weight-semibold has-text-black" href="{{ post.external_url }}" target="_blank" rel="noopener noreferrer">
      {{ post.title }}{% if post.is_virtual %}<sup>*</sup>{% endif %}, 
    </a>
    <span class="has-text-grey">
      {{ post.where | default: "Venue info not provided" }}, {{ post.date | date: "%B %Y" }}
      <a class="has-text-info is-text-6 is-italic" href="{{ post.slides }}" target="_blank" rel="noopener noreferrer">
        [Slides]
      </a>
    </span>
  </span>
</li>
{% endif %}

  {% if post.categories contains 'projects' %}
    <div>
      <a href="{{ post.external_url }}" style="
        font-weight: 600; 
        color: #222; 
        text-decoration: none;
      ">
        {{ post.title }}, {{ post.where | default: "Project details not provided" }}
      </a>
      {% if post.slides %}
        <a href="{{ post.slides }}" class="is-text-6" style="font-size: 0.9em; color: #555;" target="_blank" rel="noopener noreferrer">
          Slides
        </a>
      {% endif %}
    </div>
  {% endif %}
</li>
