$bg-color: #EEEEEE;

$heading-color: #868686;
$text-color: #5C5C5C;
$accent-color: #EFAD1C; 
$accent-color-muted: #ED6767;

$accent-1: #DDD4D4;
$accent-contrast-1: #494242;

$accent-2:  #B3ADAD;//#6c6cc8;
$accent-contrast-2: #494242;//#B7B7C9;

body{
	font-family: Roboto;
}

h1, h2, h3, h4, h5, h6{
	font-family: Oswald;
	font-weight: 600;

	margin: 0px;
	padding: 0.2em;

	text-transform: uppercase;
	line-height: 120%;

	color: $heading-color;
}

h1{
	font-size: 2.2em;

}

h2{
	font-size: 1.9em;
}

h3{
	font-size: 1.6em;
}

h4{
	font-size: 1.3em;
}

h5{
	font-size: 1em;
}

h6{
	font-size: 0.7em;
}

a{
	font-size: 0.7em;
	
	font-family: Oswald;
	color: $accent-color-muted;

	&:hover{
		text-decoration: none;
		color: $accent-color;
	}
}

p{
	font-size: 0.8em;
	line-height: 1.2em;
	color: $text-color;
	font-family: Roboto;
}


.date{
	font-size: 0.8em;
	color: gray;
}