<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.title }}</title>

		<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- link to main stylesheet -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
		<!-- main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/styles/main.css">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111560396-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-111560396-1');
		</script>

	</head>
	<body>

		<div class="main-container container rows">

			<div class="container rows">

				<div class="header">
					<div id="blog-title"><span class="mark">abra</span>cadabra</div>
					<div>{% include category_navigation.html %}</div> 
				</div>

				<div class="container cols">

					<div id="item-container" 
						 class="item-container container rows main-item">
						<div class="main-item">{% include all-items.html %}</div>

						<div>{% include paginator.html %}</div>
					</div>

					<div id="side-bar">
						{% include sidebar.html %}
					</div>
					
				</div>

			</div>

		</div>

	</body>

</html>

