<div class="item--project">

	<div class="item--project-tags">
		<ul>
			<li>product-management</li>
			<li>fullstack-development</li>
			<li>startup</li>
		</ul>
	</div>

	<div class="h1 item--project--title">
		LunchedIn
	</div>

	<div class="h4 item--project--role">Tech Lead</div>

	<div class="item--project--description">
		LunchedIn is a web application designed to enable professional networking within colleagues in huge organizations, in a fun, food-centric way. On signing up, the user is able to view other members of his organization online and mark friends friends and cuisine preferences. The user is also able to specify days on which he/she is availble for lunch during the week. The app then acts as an email service, creating small, comfortable groups of known and unknown colleagues and sending them to a restaurant closeby that satisfies all their cuisine preferences. I build LunchedIn single-handedly  for a new startup using the MEAN Stack (MongoDB, Express, Angular.js and Node) and was offered position of CTO.
	</div>


	<a href="https://design-automation.github.io/mobius-modeller">Visit Project</a>
</div>