<div class="item--project">
	<div class="item--project-tags">
		<ul>
			<li>web-development</li>
			<li>angular</li>
			<li>threejs</li>
		</ul>
	</div>

	<div class="h1 item--project--title">
		Mobius - Visual Programming Web App
	</div>

	<div class="h4 item--project--role">Product Lead</div>

	<div class="item--project--description">
		Built with Angular, Mobius offers a visual programming environment in the browser, merging flow-based and textual programming paradigms.  It is an easy-to-use, open source platform, customizable and modular data viewers and function libraries. 

		<br>
		
		Mobius was also used for Extruded Cities - a 5-day workshop, conducted during the CAADRIA Conference - 2018, in Beijing, China. Students learned to process and visualize 3D Geospatial Data using the Mobius Visual Programming Environment. They then used Mobius' publishing capabilities to publish they work as interactive websites on Github.

		<br><br>
	</div>

	<div class="container-fluid item--project--links">
		<div class="row">
			<div class="col-sm-12">Links:</div>
			<ol>
				<li><a target="_blank" href="https://design-automation.github.io/mobius-modeller">Mobius</a></li>
				<li><a target="_blank" href="https://design-automation.github.io/mobius-cesium/gallery">Extruded Cities Gallery</a></li>
			</ol>
		</div>
	</div>

</div>