<div class="item--project">

	<div class="item--project-tags">
		<ul>
			<li>android</li>
			<li>mobile</li>
		</ul>
	</div>

	<div class="h1 item--project--title">
		Trackread
	</div>

	<div class="h4 item--project--role">Developer</div>

	<div class="item--project--description">
		Trackread is an Android Application built as a Capstone Project during my Android Developer Nanodegree from Udacity. The application allows the user to search for a book from Goodreads database, save it on the app to track reading progress and makes notes. The app also integrates services such as Google Analytics and Google AdMod and has two versions - a free version that displayed ads and a paid version free of ads. Trackread also has a widget that displays a list of books the user is currently reading with the progress on the screen.
	</div>

	
	<div class="item--project--links">
		Links:
		<ol>
			<li>
				<a target="_blank" href="https://github.com/akshatamohanty/udacity-android-nanodegree/tree/master/project-07-capstone-project">
					Trackread on Github
				</a>
			</li>
			<li>
				<a target="_blank" href="https://github.com/akshatamohanty/udacity-android-nanodegree">
					Android Nanodegree - All Projects
				</a>
			</li>
		</ol>
	</div>

</div>