<div class="item--project">
	<div class="item--project-tags">
		<ul>
			<li>deep-learning</li>
			<li>speech-recognition</li>
			<li>keras</li>
		</ul>
	</div>

	<div class="h1 item--project--title">
		Speech Transcription Neural Network
	</div>

	<div class="h4 item--project--role">Developer</div>

	<div class="item--project--description">
		A deep neural netwrok for speech transcription to function as part of an end-to-end automatic speech recognition (ASR) pipeline. Developed for my final capstone project for the Artificial Intelligence Nanodegree, I analyzed and experimented with various models exploring different layers and configurations like RNNs (GRU, LSTM), Bidirectional RNNs, CNN + RNNs, RNN + Time Distributed Dense, Dropout, Batch Normalization, etc. 
	</div>

	<div class="item--project--links">
		Links:
		<ol>
			<li>
				<a target="_blank" href="https://github.com/akshatamohanty/udacity-ai-nanodegree/blob/master/project-07-vui-capstone/vui_notebook.ipynb">
					IPython Notebook
				</a>
			</li>
			<li>
				<a target="_blank" href="https://github.com/akshatamohanty/udacity-ai-nanodegree">
					AI Nanodegree - All Projects
				</a>
			</li>
		</ol>
	</div>
</div>