<!DOCTYPE html>
<html>
    {% include head.html %}
    <style>
        img {
            max-height: 400px;
        }
    </style>
        {% include navigation.html %}
        <div style="margin-top: 52px;">
            <section class="section is-light hero">
                <div class="">
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            <li><a class="is-size-7" href="/">Home</a></li>
                            <li><a class="is-size-7" href="/{{page.categories[0]}}">{{page.categories[0] | capitalize }}</a></li>
                            <li class="is-active is-size-7 is-link"><a href="#" aria-current="page">{{page.title}}</a></li>
                        </ul>
                    </nav>
                    <h1 class="title is-3">
                        {{ page.title }}
                    </h1>
                    <div style="max-width: 600px">
                        {{ page.description }}
                    </div>
                    <br/>
                    <div class="is-light is-size-7">
                        Last updated on {{page.date | date: "%b %d, '%y"}}</small>
                    </div>
                </div>
            </section>
            
            <section class="section post" style="max-width: 1028px;">
                <div class="container">
                    <div class="columns is-6">
                        {% if page.menu %}
                        <div class="fixed column is-one-quarter is-hidden-tablet">
                            {% include fragments/menu.html %}
                        </div>
                        {% endif %}

                        <div class="column is-three-quarters">
                            <div class="content">
                                {{ page.content }}
                            </div>
                        </div>

                        {% if page.menu %}
                        <div class="column is-one-quarter is-hidden-mobile">
                            {% include fragments/menu.html %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>

        {% include footer.html %}
    </body>
</html>