<a href="{{post.link}}" style="display: flex; flex-direction: row; margin-bottom: 16px;" target='_blank'>
  <div style="margin-right: 16px;">
    <img src="{{post.image}}" width="150px" />
  </div>

  <div>
    <small>
      {{ post.date | date: "%b'%y" }}
      {% if post.end_date %}
      - {{ post.end_date | date: "%b'%y" }}
      {% endif %}
    </small>
    <br />
    <b style="text-transform: uppercase;">{{ post.title }}</b>
    <br />
    <small>
    {{ post.summary }}
    </small>
  </div>
</a>