.page-heading{
	font-size: 16px;
	line-height: 28px;
	color: $text-color-muted;
	font-weight: 400; 
	text-transform: uppercase;
}


.posts-container-wrapper{

	display: flex;
	flex-direction: column;
	flex-grow: 1;


	padding: 1.2em 0em 1em 0em;


	.posts-container{

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		margin: 40px 0px 40px 0px;

		.stats{
			width: 100px;
			min-width: 100px;
			margin: 10px 30px 0px 0px;
		}

		.post{
			flex-grow: 1;
			min-width: 300px;
			max-width: 500px;
		}

		.title{
			font-size: 36px; 
			line-height: 40px;
			font-family: Oswald;
			font-weight: 300;
		}


		p{
			color: $text-color-muted;
			font-size: 18px;
			line-height: 27px;
			font-weight: 300;
		}

		.date{
			text-transform: uppercase;
			font-size: 12px;
			font-family: Oswald;
			margin-bottom: 10px;
		}

		.link{
			&:before{
				content: "Read More";
			}
		}



	}

}



		.tag-container{

			display: flex; 
			flex-direction: row; 
			flex-wrap: wrap;
			justify-content: start;

			margin: 0px;
			padding: 0px;

			list-style-type: none;

			.tag{
				font-size: 10px;
				line-height: 11px;
				padding: 3px;

				border-radius: 3px;
				border: 1px solid gray;
				margin: 2px 4px 2px 0px;

				background-color: #f6f5f5;//$accent-1;
				color:  $accent-contrast-1;

				.name{
					padding: 0px 3px;
				}
			}
		}