<article class="post"> 
	<a href={{post.project-url}} target='_blank'>
		{% if post.image %}
			<div class='post__content'>
				<div class='post__marker'>{{ post.marker }}</div>
				<h3 class='heading'>{{post.title}}</h3>
				<ul class="list--tags">
					{% for tag in post.tags %}
					<li>{{tag}}</li> 
					{% endfor %}
				</ul>
				<p>{{ post.summary }}</p>
				<div class='thumbnail' style="background-image: url({{post.image}})">
				</div>
			</div>
		{% endif %}

		{% if post.meta %}
			<div class='post__content row'>
				<div class='post__marker col-sm-12'>{{ post.marker }}</div>
				<div class='col-sm-7'>
					<h3 class='heading'>{{post.title}}</h3>
					<ul class="list--tags">
						{% for tag in post.tags %}
						<li>{{tag}}</li> 
						{% endfor %}
					</ul>
					<p>{{ post.summary }}</p>
				</div>
				<div class="col-sm-5">
				</div>
			</div>
		{% endif %}
	</a>
	<div class='spacer' />
</article>

