<div class="row row-eq-height collections--element collections--element__project">

	<div class="col-xs-12 project--tags">
		<ul class="project--tags">
			{% for tag in item.tags %}
			<li class="tag">{{tag}}</li> 
			{% endfor %}
		</ul>
	</div>

	<div class="col-xs-12 h2 project--title">{{ item.title }}</div>

	<div class="col-sm-5 project--visual">
		<img class='img-thumbnail img-responsive' src='./images/{{item.image}}'>
	</div>

	<div class="col-sm-7 project--description">

		<!-- <div class="date">{{ item.date | date: "%m/%d/%Y" }}</div> -->
		<div class="h4 project__role">
			{{ item.role }}
		</div>

		<div class="project--description">
			<p>
				{{ item.summary }}
				<br>
				<a class="link" target="_blank" href="{{item.project-url}}">Go to Project&rarr;</a>
			</p>
		</div>

	</div>

</div>