
<a href={{post.url}} style='flex-grow: 1; color: inherit;'>
    <div class="title is-3">{{post.title}}</div>
    <div class="tags are-small">
        {% if page.topic != nil %}
            <span class="tag is-link">{{post.categories[0]}}</span>
        {% endif %}
        {% for tag in post.tags %}
        <span class="tag is-warning">{{tag}}</span>
        {% endfor %}
    </div>
    <div class="block">{{post.description}}</div>
    <!-- <div class="block">{{post.content | truncatewords:50 | strip_html}}</div> -->
</a>