
<div class="card my-3" style="max-width: 550px; width: 100%;">
    <header class="card-header">
        <p class="card-header-title is-size-5">
        {{ post.title }}
        </p>
    </header>
    <div class="card-content is-size-6">
        {{ post.description }}
    </div>
    <footer class="card-footer">
        {% if post.demo %}
            <div class="card-footer-item">{{ post.demo}} </div>
        {% endif %}
        {% if post.code %}
            <div class="card-footer-item">{{ post.code}} </div>
        {% endif %}
        <a href={{post.url}} class="card-footer-item">Read</a>
    </footer>
</div>