<!DOCTYPE html>
<html>
  <head>
    {% include page-elements/head.html %}
  </head>
	<body>
    <nav class='main'>
      <div class='content-wrapper'>
        {% include page-elements/category-navigation.html %}
      </div>
    </nav>
    <main>
      <article class='content-wrapper' style="line-height: 1.5; max-width: 600px;">
        {{ page.content | markdownify }}
      </article>
    </main>
    <footer>
      <h1>Let's Connect!</h1>
      {% include page-elements/social-media.html %}
      <br /><br /><br /><br />
      {% include page-elements/copyright.html %}
    </footer>
  </body>
</html>
