<!DOCTYPE html>
<html>
  <head>
    {% include page-elements/head.html %}
  </head>
	<body>
    <nav class='main'>
      <div class='content-wrapper'>
        {% include page-elements/category-navigation.html %}
      </div>
    </nav>
    <main>
      <div class='content-wrapperp'>
        <p>
          Lorem aliquip amet qui commodo officia esse aliquip esse commodo cupidatat. Excepteur non esse dolor veniam commodo qui cillum proident ullamco sint anim. Quis pariatur adipisicing exercitation deserunt duis aute qui ullamco irure Lorem ullamco sint. Aliqua magna magna et aliquip ullamco amet culpa irure quis ullamco esse excepteur. Quis proident officia occaecat est pariatur laboris commodo mollit commodo.
        </p>
        <p>
          Lorem aliquip amet qui commodo officia esse aliquip esse commodo cupidatat. Excepteur non esse dolor veniam commodo qui cillum proident ullamco sint anim. Quis pariatur adipisicing exercitation deserunt duis aute qui ullamco irure Lorem ullamco sint. Aliqua magna magna et aliquip ullamco amet culpa irure quis ullamco esse excepteur. Quis proident officia occaecat est pariatur laboris commodo mollit commodo.
        </p>
        <p>
          Lorem aliquip amet qui commodo officia esse aliquip esse commodo cupidatat. Excepteur non esse dolor veniam commodo qui cillum proident ullamco sint anim. Quis pariatur adipisicing exercitation deserunt duis aute qui ullamco irure Lorem ullamco sint. Aliqua magna magna et aliquip ullamco amet culpa irure quis ullamco esse excepteur. Quis proident officia occaecat est pariatur laboris commodo mollit commodo.
        </p>
      </div>
    </main>
  </body>
</html>
