<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
    {% include navigation.html %}

		<main>
			<center>
				<small>
					{{page.date | date: "%B %d, %Y"}}
				</small>
				<h1>
					{{page.title}}
				</h1>
			</center>


			<article>
				{{ page }}
			</article>

			<br />
			<hr />

			<!-- <div>
				<div>Was this helpful? Share with friends!</div>
				<div class="social-media-icons">
						<a target="_blank"
								href='https://www.linkedin.com/sharing/share-offsite/?url={{site.url}}{{page.url}}'>
								<i class="fa fa-linkedin"></i>
						</a>
						<a target="_blank"
								href='https://twitter.com/intent/tweet?text={{page.title}} by @iamaatoh&url={{site.url}}{{page.url}}'>
								<i class="fa fa-twitter"></i>
						</a>
						<a target="_blank"
								href='http://www.reddit.com/submit?url={{site.url}}{{page.url}}&title={{page.title | url_encode}}%20by%20@akshatamohanty'>
								<i class="fa fa-reddit"></i>
						</a>
						<a target="_blank"
								href="http://news.ycombinator.com/submitlink?u={{site.url}}{{page.url}}&t={{page.title}} by Akshata Mohanty">
								<i class="fa fa-y-combinator"></i>
						</a>
						<a href="whatsapp://send?text={{page.title | url_encode}}%20by%20Akshata Mohanty%20{{site.url}}{{page.url}}"
								data-action="share/whatsapp/share">
								<i class="fa fa-whatsapp"></i>
						</a>
				</div>
			</div> -->
		</main>

		<footer>
      {% include footer.html %}
    </footer>
	</body>
