<!DOCTYPE html>
<html>

	{% include page-elements/head.html %}
    {% include page-elements/category-navigation.html %}

    <br />
    <div class='container--main category'>
        <!-- {% include page-elements/simplenav.html %} -->
        <div>
            {%  include page-elements/section-header.html %}
            <hr />
            <br />
            <div>
                {% for post in site.posts %}
                    {% if post.group == page.page %}
                        {% include page-elements/blog-post-container.html %}
                        <!-- {% if post.group == 'blog' or post.group == 'works' %}
                        {% else %}
                            {% include page-elements/post-container.html %}
                        {% endif %} -->
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <br />
        <br />
        <hr />
        {% include page-elements/about.html %}
        <br />
    </div>
	{% include page-elements/copyright.html %}
</html>