<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.title }}</title>

		<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- link to main stylesheet -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
		<!-- main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/styles/main.css">
		
		<!-- github calender -->
		<script src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"></script>
		<link rel="stylesheet" href="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css"/>
				
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111560396-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-111560396-1');
		</script>

	</head>
	<body>

		<div class="body-wrapper">
		
			<div class="main-content-wrapper">

				<!-- header -->
				{% include page-elements/header.html %}
				
				<div class="segment">
					
					<!-- list of posts -->
					<div class="{{page.type}}-container-wrapper">
						{% for item in paginator.posts %}
						   		
						    <div class="{{page.type}}-container">
								{% if page.type == "posts" %}
									{% include post-layouts/post-layout.html %}
								{% endif %}

								{% if page.type == "projects" %}
									{% include post-layouts/project-layout.html %}
								{% endif %}
							</div>

						{% endfor %}
					</div>


					<!-- paginator -->
					{% include page-elements/paginator.html %}
				</div>

			</div>

			<!-- footer-->
			{% include page-elements/copyright.html %}
			
		</div>

	</body>

</html>

