<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/styles/main.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>

		<div class="container">

			<h1 class="header">Codeits</h1>

			
			<h1 class="divider">...</h1>

			<div class="intro">

				<p class="text intro">Hey there! Thanks for visiting Codeits! My name is Akshata. I am a Research Assistant at the National University of Singapore. I code for fun and food, in that order. This is a collection of all my "code-its"! Hope you find something useful here.</p>

			</div>


			
			<h1 class="divider">...</h1>

			{% for category in site.categories %}
			<section class="category-container">	

				<h2 class="subheader category-heading">{{ category | first }}s</h2>

				<div class="item-container">
					{% for posts in category %}
				      {% for post in posts %}
				       	{% if post.url %} 
						    <div class="item {{ category | first }}">

						    	<a href="{{post.url}}">

						    		<!-- <div class="img-holder" style="background-image: url(http://placehold.it/80x80);">
						    		</div> -->
						    		<div class="date">{{ post.date | date_to_long_string }}</div>

							    	<div class="title">{{ post.title }}</div>
							    	<div class="subtitle text">{{ post.subtitle }}</div>

						    		<div class="tags">
						    			 <i class="fa fa-tags"></i>
						    			 {% for tag in post.tags %}
							    		 <span>{{tag}}</span>
							    		 {% endfor %}
							    	</div>

						    	</a>
							</div>
						{% endif %}
				      {% endfor %}
				    {% endfor %}
				</div>

			</section>
			
			<h1 class="divider">...</h1>
			{% endfor %}	
		</div>

		<footer>

			<div class="container">
				<h1 class="header">I would love to hear from you!</h1>
				<div class="social-media-icons">
					<a href="#" class="fa fa-linkedin"></a>
					<a href="#" class="fa fa-medium"></a>
					<a href="#" class="fa fa-twitter"></a>
				</div>
			</div>

		</footer>


	</body>
</html>