<!DOCTYPE html>
<html>
  <head>
    {% include page-elements/head.html %}
  </head>
  <body>
    <nav class='main'>
      <div class='content-wrapper'>
        {% include page-elements/category-navigation.html %}
      </div>
    </nav>
    <main>
      <!-- header -->
      <header class='page-header content-wrapper'>
        <div class='about'>
          {% include page-elements/about.html %}
        </div>
        <div class='latest-item'>
          <h4>Recent →</h4>
          {% for post in site.posts limit:1 %}
            <div class='embed'
              style="background-image: url({{post.image}});">
              {{ post.embed }}
            </div>
            <h1>
                {% if post.link %}
                <a href={{post.link}}>
                {% else %}
                <a href={{post.url}}>
                {% endif %}
                  {{ post.title }}
                </a>
            </h1>
            <summary>{{ post.summary }}</summary>
            <small>
              By <b>Akshata Mohanty</b> |
              {{post.date | date: "%B %d, %Y"}}
            </small>
          {% endfor %}
        </div>
      </header>

      <!-- latest -->
      <section>
        <div class='content-wrapper'>
          <header>
            <h3>Latest</h3>
          </header>
          <ul class='list-container'>
            {% for post in site.posts limit:3 offset:1 %}
              {% include thumbnails/index.html %}
            {% endfor %}
          </ul>
        </div>
      </section>

      <!-- talks -->
      <section class='dark'>
        <div class='content-wrapper content-section'>
          <!-- tech -->
          {%
            include page-elements/section.html
            category='talks'
            title='Talks'
            limit=3
            link='/talks'
          %}
        </div>
      </section>

      <!-- blog -->
      <section>
        <div class='content-wrapper content-section'>
          <!-- tech -->
          {%
            include page-elements/section.html
            category='tech'
            title='Tech'
            limit=4
            narrow='narrow'
            link='/blog'
          %}

          <br/><br />

          <!-- books -->
          {%
            include page-elements/section.html
            category='books'
            title='Book Reviews'
            limit=4
            narrow='narrow'
            link='/blog'
          %}
        </div>
      </section>

      <section class='dark'>
        <div class='content-wrapper content-section'>
          {%
            include page-elements/section.html
              category="research"
              title='Research'
              limit=3
              link='/talks'
          %}
        </div>
      </section>


      <!-- software -->
      <section>
        <div class='content-wrapper content-section'>
          <!-- tech -->
          {%
            include page-elements/section.html
            category='fullstack'
            title='Fullstack Projects'
            limit=4
            narrow='narrow'
            link='/works'
          %}

          <br/><br />

          <!-- aiml -->
          {%
            include page-elements/section.html
            category='aiml'
            title='Artificial Intellience & Machine Learning Projects'
            limit=4
            narrow='narrow'
            link='/works'
          %}
        </div>
      </section>

    </main>
    <footer>
      {% include page-elements/copyright.html %}
    </footer>
  </body>
</html>