<!DOCTYPE html>
<html>

	{% include page-elements/head.html %}
	{% include page-elements/category-navigation.html %}

	<div>
		{% if page.page == 'all' %}
			{% include page-elements/about.new.html %}
		{% endif %}
		{% if page.isCategory == true %}
			{% for page in site.pages %}
				<div class='col-md-8 offset-md-4 container--main'>
					asdadss
					<div>
						{%  include page-elements/section-header.html %}
						<div>
							{% for post in site.posts %}
								{% if post.group == page.page and post.showcase == true %}
									{% if post.group == 'blog' %}
										{% include page-elements/blog-post-container.html %}
									{% else %}
										{% include page-elements/post-container.html %}
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}

		{% endif %}
		</div>
	</div>

	{% include page-elements/copyright.html %}

</html>