<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.title }}</title>

		<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
		<!-- main stylesheet -->
		<link  href="https://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
		<!-- link to main stylesheet -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="stylesheet" type="text/css" href="/styles/main.css">
	</head>

	<body>

		<div class="container public-page">

			<div class="row">
			
				<!-- introduction -->
				<div class="col-xs-12 section section--hero">

					<div class="container-fluid section__contents">

						<div class="row">

							<div class="col-md-6 col-md-offset-3 col-xs-12">

								<div class="row section__contents__title h1">
									Just another portfolio
								</div>

								<div class="h3 text-center">
									Some random elevator pitch text that I am yet to figure out.
								</div>

								<!-- <h1>Welcome to Akshata World</h1> -->

								<!-- <h3>Hey There! </h3>
									
								<h1>
									I am <span class="text--highlight">Akshata</span>.
								</h1>

								<h4>I eat code.</h4> -->

							</div>

						</div>

					</div>
				</div>


				<!-- projects-->
				<div class="col-xs-12 section section--projects">

					<div class="container-fluid section__contents">

						<div class="row section__contents__title h2">
							Featured Projects
						</div>

						<div class="row row-eq-height section__contents__content items">
							<div class="col-xs-12">

								{% for project in page.featured %}
									<div class="col-md-8 col-md-offset-2 items__container-project">
									   {% include featured-projects/{{project}}.html %}
									</div>
								{% endfor %}

							</div>
						</div>


						<div class="section__contents__calltoaction">
							<div class="calltoaction__link" >
								<a href="./projects">See all projects</a>
							</div>
						</div>

					</div>
				</div>


				<!-- post-board -->
				<div class="col-xs-12 section section--posts">
					
					<div class="container-fluid section__contents">
						
						<div class="row section__contents__title h1 text--right">
							Recent Posts
						</div>

						<div class="row section__contents__content items">

							<div class="items">
								{% for post in paginator.posts %}

								<div class="col-md-6 col-md-offset-3 col-xs-12 items__container-post">
									<div class="item--post">
										<div class="h2 item--post--title text--handwritten">{{post.title}}</div>
										<div class="h5 item--post--date">
											Written on some-date 
										</div>
									</div>
								</div>

								{% endfor %}
							</div>

						</div>

						<div class="row section__contents__calltoaction">
							<div class="calltoaction__link" >
								<a href="./posts">Visit my blog</a>
							</div>
						</div>

					</div>
				</div>


				<!-- about -->
				<div class="col-xs-12 section section--about">
					<div class="container-fluid section__contents">
						
						<div class="row section__contents__title h1">
							Get in touch
						</div>

						<div class="row row-eq-height section__contents__content">
							<div class="col-sm-offset-2 col-sm-4">

								I have always loved to build things. Startups, technology and products promising global impact enthuse me. An architect by graduation, I would have been developing buildings, but I met Javascript on the way and started architecting software instead! 
								<br><br>
								I am addicted to MOOCs and Coursera is my Netflix. I have multiple specializations in <b>Full Stack Web Development</b>, <b>Artificial Intelligence</b> and <b>Machine Learning</b>. My new crush now is <b>Blockchain Technology</b>. 
								<br><br>
								I currently work at the National University of Singapore as a Research Assistant.
								<br><br>
							</div>

							<div class="col-sm-6 text-center">
								<div class="container-fluid">
								    <div class="row">	
								    	<div class="col-xs-12">
									    	<img src='../assets/jumpup.jpg' 
											 class="img-responsive" style="width: 50%; border-radius: 50%;margin: 0 auto;"/>
										</div>
								    </div>
								    <div class="row h3 text--handwritten"> 
								    	<div class="col-xs-12">
								    		<h3>Got an idea? Let's nerd it out.</h3>
									    	<div class="social-media-icons">
												<a target="_blank" href="https://github.com/akshatamohanty"><i class="fa fa-github"></i></a>
												<a target="_blank" href="https://linkedin.com/in/akshata-mohanty">
													<i class="fa fa-linkedin"></i>
												</a>
												<a target="_blank" href="mailto:akshatamohanty@gmail.com"><i class="fa fa-google"></i></a>
											</div>
										</div>
								    </div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</body>

	<!-- scripts-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111560396-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-111560396-1');
	</script>
</html>

