<!DOCTYPE html>
<html>
	
	{% include page-elements/head.html %}

	{% include page-elements/category-navigation.html %}

	<div class='container container--main-wrapper'>
		<div class='row'>
			<div class='col-md-2 nav--side'>
				{% include page-elements/about.html %}
				<span class='category-description'>{{ page.content | markdownify }}</span>
				<hr />
				{% include page-elements/social-media.html %}
				<small class='off-black'> © All Rights Reserved.</small>
			</div>
			<div class='col-md-8 offset-md-4 container--main'>
					{% for page in site.pages %}
						{% if page.isCategory == true and page.page != 'all' and page.page != 'blog' %}
						<div>
							{%  include page-elements/section-header.html %}
							<div>
								{% for post in site.posts %}
									{% if post.group == page.page and post.showcase == true %}
										{% if post.group == 'blog' %}
											<!-- {% include page-elements/blog-post-container.html %} -->
										{% else %}
											{% include page-elements/post-container.html %}
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
							<a class='link' href={{page.url}} style='float:right;'>More ></a>
						</div>
						<br><br><br>
						{% endif %}
					{% endfor %}

			</div>
		</div>
	</div>

	<!-- {% include page-elements/copyright.html %} -->

</html>