<!DOCTYPE html>
<html>

	{% include page-elements/head.html %}

	<div class='container container--main-wrapper'>
		<div class='row'>
			<div class='col-md-10 nav--side'>
				{% include page-elements/about.html %}
				<!-- <span class='category-description'>{{ page.content | markdownify }}</span> -->
				<!-- <hr />
				{% include page-elements/social-media.html %}
				<small class='off-black'> © All Rights Reserved.</small> -->
			</div>
		</div>
	</div>

	<!-- {% include page-elements/copyright.html %} -->

</html>