<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include navigation.html %}
    <main class="container" style="margin: 90px auto;">
      <nav class="breadcrumb container mx-4" aria-label="breadcrumbs" style="padding: 0; margin: 0">
          <ul class="is-align-items-center">
              <li><a class="is-size-6" href="/">Home</a></li>
              <li>
                <a class="is-size-6" href="/{{page.categories[0]}}">{{page.category | capitalize }}</a>
              </li>
          </ul>
      </nav>

      <div class="mx-4 mt-4" style="line-height: 1.7">{{ page.description}}</div>

      <div class="mx-4 mt-6 is-flex is-flex-direction-column">
        {% assign current_category = page.category %}
        {% assign filtered_posts = site.posts | where_exp: "post", "post.categories contains current_category" %}
        {% assign sorted_posts = filtered_posts | sort: "date" | reverse %}

        {% if page.group_by_year %}
          {% assign grouped_posts = sorted_posts | group_by_exp: "post", "post.date | date: '%Y'" %}
          {% for year_group in grouped_posts %}
            <div class="mb-5">
              <h2 class="title is-4">{{ year_group.name }}</h2>
              <ul>
                {% for post in year_group.items %}
                  <li>
                    {% include thumbnail.html post=post %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        {% else %}
          <ul>
            {% for post in sorted_posts %}
              {% include thumbnail.html post=post %}
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      {% include footer.html %} 
    </main> 
  </body>
</html>