<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include navigation.html %}
    <main style="margin: 120px auto; max-width: 900px;">
          <div class=''>
            <h1 class="title is-1">{{ page.title }}</h1>
            <h2 class="subtitle is-5">{{ page.description}}</h2>
          </div>

          <div class="is-flex is-flex-direction-column">
            {{page.autopages.display_name}}
            {% assign categories_list = site.categories %}
            {% for post in paginator.posts %}
              {% if page.thumbnail %}
                {% include {{page.thumbnail}} %}
              {% else %}
                {% include thumbnail.html %}
              {% endif %}
            {% endfor %}
          </div>

          {% if paginator.total_pages > 1 %}
          <nav class="pagination" role="navigation" aria-label="pagination">
            <ul class="mr-4 ml-4 mb-2 mt-1 is-flex is-flex-direction-row pager is-justify-content-space-between" style="width: 100%;">
              {% if paginator.previous_page %}
              <li class="previous">
                  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pagination-previous">&larr; Newer Posts</a>
              </li>
              {% endif %}
              {% if paginator.next_page %}
              <li class="next">
                  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pagination-next">Older Posts &rarr;</a>
              </li>
              {% endif %}
          </ul>
          {% endif %}
          </nav>

    </main>
  </body>
</html>
