<!DOCTYPE html>
<html>
  <head>
    {% include page-elements/head.html %}
  </head>
	<body>
    <nav class='main'>
      <div class='content-wrapper'>
        {% include page-elements/category-navigation.html %}
      </div>
    </nav>
    <main>
      <!-- header -->
      <header class='page-header content-wrapper'>
        <div class='about'>
          {%  include page-elements/section-header.html title=page.page %}
        </div>
        <div class='latest-item'>
          <h4>Recent →</h4>
          {% assign latest_post = null %}
          {% for cate in page.category %}
            {% for post in site.categories[cate] limit:1 %}
              {% assign post_date = post.date | date: '%s' %}
              {% assign latest_date = latest_post.date | date: '%s' %}
              {% if post_date > latest_date or latest_post == null %}
              {% assign latest_post = post %}
              {% endif %}
            {% endfor %}
          {% endfor %}
          <div class='embed'
            style="background-image: url({{latest_post.image}});">
            {{ latest_post.embed }}
          </div>
          <h1>
            {% if latest_post.link %}
            <a href={{latest_post.link}} target='_blank'>
            {% else %}
            <a href={{latest_post.url}}>
            {% endif %}
              {{ latest_post.title }}
            </a>
          </h1>
          <summary>{{ latest_post.summary }}</summary>
          <small>
            {{latest_post.date | date: "%B %d, %Y"}}
          </small>
        </div>
      </header>

      <!-- content -->
      <section>
        {% for category in page.category %}
          {% if site.categories[category].size > 0 %}
          <div class='content-wrapper content-section'>
            {%
              include page-elements/section.html
              category=category
              title=category
              limit=100
              all=true
              date=true
            %}
          </div>
          <div class='divider'></div>
          {% endif %}
        {% endfor %}
      </section>
    </main>
    <footer>
      {% include page-elements/copyright.html %}
    </footer>
  </body>
</html>
