<!DOCTYPE html>
<html>
	{% include page-elements/head.html %}

		{% include page-elements/category-navigation.html %}

		<div class="container">

				<div class="row post">

					<div class="col-sm-8 col-sm-offset-2 col-xs-12 post__body">


						<div class="row">
							<h1>{{page.title}}</h1>
							<div class="text-center">{{ page.date | date: "%m-%d-%Y" }}</div>
						</div>

						<div class="row post__summary">
							{{page.summary}}
						</div>

						<!-- post-content-->
						<div class="row post__content" style='display: flex; flex-direction: column;'>
							{{page.content}}
						</div>


						{% include page-elements/category-navigation.html %}
						<br><br>

						<!-- footer-->
						{% include page-elements/copyright.html %}

					</div>

				</div>

		</div>


</html>

