<!DOCTYPE html>
<html>

	{% include page-elements/category-navigation.html %}
	{% include page-elements/head-for-blog.html %}
	<body>
		<main class="post-wrapper blog-post-container ">
			<article>
				<div class='blog-post__content'>
					<span class='post__marker'>{{page.tag}}</span>
					<h1 class='post__title'>
						{{page.title}}
					</h1>
					<summary>{{ page.summary }}</summary>
					<div class='post__meta'>
						<small>By <b>Akshata Mohanty</b></small> |
						<span>{{page.date | date: "%B %d, %Y"}}</span>
					</div>
					<img class='post__header-img' src={{page.image}}>
					<div class='post__content'>{{ page }}</div>
				</div>
			</article>
			<hr />
			{% include page-elements/social-media-share.html %}
			<br/><br />
			{% include page-elements/about.html %}
		</main>
		{% include page-elements/copyright.html %}
	</body>
</html>