@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:100,300,400,600");
body {
  font-family: Raleway; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.3;
  margin: 0px;
  color: #222;
  font-family: Montserrat; }

a {
  font-family: Montserrat;
  color: #ED6767;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #42B6F3; }

p {
  color: #222;
  font-family: Raleway; }

.date {
  text-transform: uppercase;
  color: #868686;
  font-weight: 300; }

.media, .navigation .media-icon, .back-navigation .share .media-icon {
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  line-height: 2rem;
  border: 1px solid #222;
  margin: 5px 5px 5px 0px;
  text-align: center;
  vertical-align: middle; }

.center {
  text-align: center; }

html {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border-top: 8px solid #42B6F3; }

body {
  width: 100%;
  background-color: #EEEEEE;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  line-height: 16px; }

.body-wrapper {
  position: relative;
  width: 60%;
  max-width: 650px;
  height: auto;
  margin: 0 auto;
  padding: 30px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: start; }
  .body-wrapper .main-content-wrapper {
    margin: 1em 0px 1em 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
    .body-wrapper .main-content-wrapper .segment {
      margin: 25px 0px; }
    .body-wrapper .main-content-wrapper .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    .body-wrapper .main-content-wrapper .page-title {
      color: #42B6F3;
      font-size: 16px;
      font-weight: 600;
      border: 2px solid #222;
      border-radius: 4px;
      padding: 4px; }
      .body-wrapper .main-content-wrapper .page-title .mark {
        color: #222; }
    .body-wrapper .main-content-wrapper blockquote {
      font-size: 34px;
      line-height: 44px;
      font-family: Raleway;
      border-left: 3px solid #42B6F3;
      font-weight: 100;
      padding: 10px 30px;
      margin: 45px 0 45px -35px; }
    .body-wrapper .main-content-wrapper .copyright {
      color: #868686;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      margin: 45px 0px 45px 0px; }

.navigation {
  display: flex;
  flex-direction: column;
  width: inherit;
  margin: 0 auto; }
  .navigation .page-title {
    background-color: #B3ADAD;
    color: #494242; }
  .navigation section {
    margin: 0px 0px 1em 0px; }
    .navigation section .heading {
      margin-bottom: 0.7em;
      color: #B3ADAD; }
    .navigation section p {
      font-size: 12px;
      line-height: 20px; }
  .navigation .tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
    .navigation .tag-container .tag {
      font-size: 10px;
      line-height: 14px;
      padding: 5px;
      border-radius: 50px;
      border: 1px solid gray;
      margin: 2px 4px 2px 0px;
      background-color: #DDD4D4;
      color: #494242; }
      .navigation .tag-container .tag .name {
        padding: 0px 3px; }
      .navigation .tag-container .tag .count {
        display: inline;
        color: gray;
        border: 1px solid white;
        background-color: white;
        padding: 0px 5px;
        border-radius: 50%; }
  .navigation .social-media-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .navigation .media-icon {
    border-radius: 50%; }

.category-navigation ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  min-width: 200px; }
  .category-navigation ul li {
    margin: 0px 0px 0px 30px;
    padding: 0px;
    color: #868686;
    text-transform: uppercase;
    flex-grow: 1;
    cursor: pointer; }
    .category-navigation ul li a {
      font-family: Montserrat;
      margin: 20px 0px;
      text-decoration: none;
      color: #222; }
    .category-navigation ul li.active a {
      color: #42B6F3 !important;
      font-weight: bold; }

.pagination-wrapper {
  width: 100%; }
  .pagination-wrapper .pagination {
    width: 100%; }
    .pagination-wrapper .pagination ul.page-items {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0px 0px 0px 1rem;
      margin: 0px;
      list-style: none; }
      .pagination-wrapper .pagination ul.page-items li.page-link {
        display: inline;
        border-radius: 50%; }
        .pagination-wrapper .pagination ul.page-items li.page-link div {
          font-size: 15px;
          line-height: 30px;
          width: 30px;
          height: 30px;
          display: inline-block;
          text-align: center;
          color: #868686;
          border-radius: 50%; }
          .pagination-wrapper .pagination ul.page-items li.page-link div.active {
            border: 3px solid #42B6F3;
            color: #42B6F3; }
        .pagination-wrapper .pagination ul.page-items li.page-link a {
          text-decoration: none;
          margin: 0px;
          padding: 0px; }
        .pagination-wrapper .pagination ul.page-items li.page-link.hidden {
          display: none; }

.back-navigation {
  width: 100%;
  height: 3rem;
  margin: 45px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 100;
  padding: 2rem 0px; }
  .back-navigation .home {
    line-height: 2rem; }
    .back-navigation .home a {
      font-size: 1.3em; }
  .back-navigation .share {
    display: flex;
    flex-direction: row; }
    .back-navigation .share .media-icon {
      font-size: 2.2em;
      width: 2.2em;
      height: 2.2em;
      border: none; }

.projects-container-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.2em 0em 0em 0em; }
  .projects-container-wrapper .projects-container {
    max-width: 150px;
    min-width: 180px;
    border: 1px solid #CFCDCD;
    border-radius: 4px;
    margin: 0.7em 0.7em 0.7em 0px;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white; }
    .projects-container-wrapper .projects-container .image {
      background-size: cover;
      background-position: center;
      min-height: 100px;
      margin-bottom: 10px; }
    .projects-container-wrapper .projects-container .title {
      font-size: 18px !important;
      /* &:before{
      	content: '//'
      } */ }
    .projects-container-wrapper .projects-container .description-text a {
      display: block;
      font-weight: 100; }
      .projects-container-wrapper .projects-container .description-text a a::after {
        content: "->"; }
    .projects-container-wrapper .projects-container .tag-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      margin: 0px;
      padding: 0px;
      list-style-type: none; }
      .projects-container-wrapper .projects-container .tag-container .tag {
        font-size: 10px;
        line-height: 11px;
        padding: 3px;
        border-radius: 3px;
        border: 1px solid gray;
        margin: 2px 4px 2px 0px;
        background-color: #f6f5f5;
        color: #494242; }
        .projects-container-wrapper .projects-container .tag-container .tag .name {
          padding: 0px 3px; }
        .projects-container-wrapper .projects-container .tag-container .tag .count {
          display: inline;
          color: gray;
          border: 1px solid white;
          background-color: white;
          padding: 0px 5px;
          border-radius: 50%; }
    .projects-container-wrapper .projects-container .date {
      text-transform: uppercase;
      font-size: 12px;
      font-family: Oswald;
      display: none; }
    .projects-container-wrapper .projects-container .link:before {
      content: "Explore"; }

.snippets-container-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.2em 0em 1em 0em; }
  .snippets-container-wrapper .snippets-container {
    margin-top: 1em;
    margin-bottom: 1em; }
    .snippets-container-wrapper .snippets-container .description-text a {
      display: block;
      font-weight: 100; }
      .snippets-container-wrapper .snippets-container .description-text a a::after {
        content: "->"; }
    .snippets-container-wrapper .snippets-container .tags {
      display: none; }
    .snippets-container-wrapper .snippets-container .date {
      text-transform: uppercase;
      font-size: 12px;
      font-family: Oswald; }

.page-heading {
  font-size: 16px;
  line-height: 28px;
  color: #868686;
  font-weight: 400;
  text-transform: uppercase; }

.posts-container-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1.2em 0em 1em 0em; }
  .posts-container-wrapper .posts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px 0px 40px 0px; }
    .posts-container-wrapper .posts-container .stats {
      width: 100px;
      min-width: 100px;
      margin: 10px 30px 0px 0px; }
    .posts-container-wrapper .posts-container .post {
      flex-grow: 1;
      min-width: 300px;
      max-width: 500px; }
    .posts-container-wrapper .posts-container .title {
      font-size: 24px;
      line-height: 30px;
      font-family: Montserrat;
      font-weight: 300;
      border-bottom: 1px solid #ddd;
      padding-top: 15px; }
    .posts-container-wrapper .posts-container p {
      color: #868686;
      font-size: 18px;
      line-height: 24px;
      font-weight: 300; }
    .posts-container-wrapper .posts-container .date {
      text-transform: uppercase;
      font-size: 12px;
      font-family: Montserrat;
      margin-bottom: 10px; }
    .posts-container-wrapper .posts-container .link:before {
      content: "Read More";
      margin-top: 10px; }

.tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0px;
  padding: 0px;
  list-style-type: none; }
  .tag-container .tag {
    font-size: 12px;
    line-height: 16px;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid gray;
    margin: 2px 4px 2px 0px;
    background-color: #f6f5f5;
    color: #494242; }
    .tag-container .tag .name {
      padding: 0px 3px; }

h1, h2 {
  border-bottom: 1px solid #868686;
  color: #868686;
  text-transform: uppercase; }

h1, h2, h3, h4, h5, h6 {
  padding: 45px 0px 15px 0px; }

h2 {
  font-size: 1.2em; }

.content-summary {
  font-size: 18px !important;
  line-height: 24px !important;
  font-weight: 600;
  margin: 0px !important; }

.content-post-title {
  font-size: 32px !important;
  line-height: 36px !important;
  color: #222; }

.content-body {
  font-size: 14px !important;
  line-height: 30px !important;
  margin-top: 0px; }
  .content-body h3, .content-body h4, .content-body h5, .content-body h6 {
    color: #868686;
    text-transform: uppercase;
    margin-top: 30px; }

pre.highlight {
  border: 1px solid #ddd;
  border-radius: 4px;
  border-left: 5px solid gray;
  padding: 10px 0px 10px 15px;
  background-color: #f7f7f7; }

.date {
  margin: 10px 0px; }

.tag {
  font-size: 14px; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 768px) {
  /* Styles */
  body {
    font-size: 20px; }

  .projects-container-wrapper .projects-container {
    width: 100%;
    max-width: 800px;
    line-height: 150%; }
    .projects-container-wrapper .projects-container .title {
      font-size: 26px !important; }

  .body-wrapper {
    width: 90%;
    padding: 0.5em;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: none; }
    .body-wrapper .main-nav-wrapper {
      position: relative; }
    .body-wrapper .main-content-wrapper {
      margin: 0.5em; }
      .body-wrapper .main-content-wrapper .header {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .body-wrapper .main-content-wrapper .header .page-title {
          font-size: 26px !important; }
        .body-wrapper .main-content-wrapper .header .nav-bar {
          margin-top: 15px; }
      .body-wrapper .main-content-wrapper blockquote {
        margin-left: 0px !important; }

  	/* body{
  		font-size: 20px;
  	}
  
  	.body-wrapper{
  		width: 100%;
  
  		flex-direction: column; 
  		
  		
  		margin: $default-margin;
  
  		.nav-wrapper{
  			width: 80%;
  			align-self: center;
  		}
  
  	}
  
  	.post-body-wrapper{
  		width: 90% !important;
  
  	}
  
  	.post-container-wrapper{
  		padding: 0.8em;
  	} */ }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  .body-wrapper {
    width: 80%;
    padding: 0.8em; }
    .body-wrapper .main-content-wrapper {
      margin: 0.8em; }

  	/* .body-wrapper{
  		width: 80%;
  
  		.nav-wrapper{
  			width: 10rem;
  		}
  
  	}
  
  	.post-body-wrapper{
  		width: 80% !important;
  	}
  
  	.post-container-wrapper{
  		padding: 0.8em;
  	} */ }
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
  	/* .body-wrapper{
  		width: 80%;
  
  		.nav-wrapper{
  			width: 10rem;
  		}
  
  	}
  
  	.post-body-wrapper{
  		width: 80% !important;
  
  	}
  
  	.post-container-wrapper{
  		padding: 0.8em;
  	} */ }
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
  	/* .body-wrapper{
  		width: 90%;
  
  		.nav-wrapper{
  			width: 8rem;
  		}
  
  	}
  
  	.post-body-wrapper{
  		width: 90% !important;
  	}
  
  	.post-container-wrapper{
  		padding: 0.8em;
  	} */ }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }
/**********
iPad 3
**********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */ }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */ }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */ }
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }
/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */ }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */ }
/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */ }
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */ }
/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */ }
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */ }
/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */ }
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */ }
/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */ }
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */ }
/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */ }
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */ }
/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */ }
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */ }
