@import url("https://fonts.googleapis.com/css?Ubuntu:400,600,800");
html {
  position: relative;
  font-size: 10px; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100vh;
  font-size: 1.6rem;
  line-height: 180%;
  font-family: 'Ubuntu', sans-serif; }
  body:before {
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    border-top: 4px solid rgba(231, 112, 0, 0.692); }

h1, h2, h3, h4, h5, h6 {
  color: #3F4651;
  font-weight: 800; }

a:hover, a:focus {
  color: inherit;
  text-decoration: none; }

.category-description p {
  color: #6f6f6f; }
.category-description a {
  color: rgba(231, 112, 0, 0.692); }

p {
  margin-bottom: 1.4rem; }

.simple-nav a:hover {
  color: rgba(231, 112, 0, 0.692);
  text-decoration: underline; }
.simple-nav a:after {
  content: '|';
  margin: 0 10px; }

.link {
  color: rgba(231, 112, 0, 0.692);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.4rem; }
  .link:hover {
    text-decoration: underline; }

.img--profile {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/profile.png");
  border-radius: 50%; }

.off-black {
  color: #6f6f6f; }

.list--no-bullets {
  list-style: none;
  margin: 0;
  padding: 0; }
  .list--no-bullets li {
    margin: 0;
    padding: 0; }

.email-subscription {
  position: relative;
  text-align: left; }
  .email-subscription #mc_embed_signup form {
    width: 100%;
    padding: 0; }
  .email-subscription #mc_embed_signup_scroll {
    display: flex;
    flex-direction: column; }
  .email-subscription #mc_embed_signup input.email {
    margin: 5px 0;
    border-radius: 0;
    width: 100%; }
  .email-subscription #mc-embedded-subscribe {
    border-radius: 0;
    width: 100%; }

@media (min-width: 768px) {
  .nav--side {
    position: fixed;
    border: none;
    margin-bottom: 0; } }
@media (max-width: 767px) {
  .container--main {
    margin-left: 0; } }
@media (max-height: 450px) and (orientation: landscape) {
  .nav--side {
    position: relative; }

  .container--main {
    margin-left: 0; } }
.nav--side {
  padding-top: 30px;
  margin-bottom: 90px;
  width: inherit;
  min-width: 250px; }
  .nav--side .main__title {
    color: #3F4651; }

.social-media-icons .fa {
  font-size: 14px;
  border: 3px solid #3F4651;
  border-radius: 50%;
  padding: 10px;
  margin-right: 15px;
  margin-top: 10px;
  color: #3F4651; }

.container--main-wrapper {
  padding-top: 6px;
  max-width: 1020px; }

.container--main {
  padding: 30px 15px; }

.nav-item.active .nav-link {
  color: #E7BF00 !important; }

.nav--top {
  padding: 0 15px;
  background-color: #3F4651;
  color: gray; }
  .nav--top .container {
    padding: 0 !important; }
  .nav--top .navbar-brand {
    color: #E7BF00;
    font-size: 1.6rem;
    width: 100%; }
  .nav--top .nav-link {
    font-weight: 600;
    color: #6F6F76 !important; }

.nav-link {
  text-transform: uppercase; }

@media (min-width: 768px) {
  .nav-link {
    margin-left: 15px; }

  .nav--top .container {
    padding: 15px; } }
.spacer {
  height: 2px;
  background: #ddd;
  margin: 9px 0; }

.subtext {
  color: #6f6f6f; }

article.post {
  margin-bottom: 30px;
  margin-left: -15px; }
  article.post .heading {
    font-weight: 700;
    color: #3F4651; }
  article.post .post__marker {
    color: #6f6f6f; }
  article.post .post__content {
    overflow: hidden;
    position: relative; }
    article.post .post__content .thumbnail {
      border: 0px;
      height: 400px;
      background-size: contain;
      background-repeat: no-repeat; }
  article.post a {
    color: inherit; }

.section-header {
  color: #3F4651; }

.list--tags {
  list-style: none;
  margin: 10px 0px 15px 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .list--tags li {
    padding: 2px 4px;
    border-radius: 3px;
    margin: 0px 10px 5px 0px;
    background: #3F4651;
    font-size: 1.2rem;
    color: #E7BF00; }
    .list--tags li:before {
      content: "#"; }

.post--research {
  margin-left: 0 !important; }
  .post--research .authors {
    color: #6f6f6f; }
  .post--research .details {
    color: #6f6f6f;
    text-transform: uppercase; }

.date {
  text-transform: uppercase;
  color: #E7BF00; }

footer {
  background: #242424;
  height: 600px; }

.copyright {
  width: 100%;
  background: #3F4651;
  color: #ddd;
  text-align: center;
  padding: 9px;
  margin: 0; }
  .copyright a {
    color: inherit; }

.post-wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 60px; }
  .post-wrapper.blog-post-container {
    padding: 0 30px; }
  .post-wrapper img {
    width: 100%;
    margin: 15px 0; }

.post__title {
  color: #3F4651;
  font-size: 4.8rem;
  line-height: 1.2; }

.post__content h1 {
  font-size: 4rem;
  color: #3F4651; }

.back {
  display: inline-block;
  border: 1px solid #6f6f6f;
  border-radius: 30px;
  margin: 30px 0;
  padding: 5px 20px; }

.blog-post-container {
  padding-bottom: 90px; }
  .blog-post-container .blog-post__content h1 a {
    color: #3F4651;
    font-size: 3.2rem;
    line-height: 1.2; }
  .blog-post-container .post__meta {
    font-size: 1.4rem;
    margin-bottom: 7.5px;
    font-weight: 600; }
    .blog-post-container .post__meta .date {
      text-transform: uppercase;
      color: #6f6f6f; }
    .blog-post-container .post__meta .marker {
      margin-left: 15px;
      text-transform: uppercase;
      color: rgba(231, 112, 0, 0.692); }
  .blog-post-container .post__content {
    color: black;
    line-height: 2; }
    .blog-post-container .post__content p {
      padding: 15px 0; }
